.tp-caption{
  &.pacifico3 {
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    font-family: Pacifico,cursive;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    span{
      color: @base_color;
    }
  }
  span{
    color: @base_color;
  }
  &.small_thin_grey1 {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FFD658;
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 1px 4px 0;
    text-decoration: none;
    text-shadow: none; 
  }
  &.pacifico1{
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    font-family: Pacifico,cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
  }
  &.pacifico4{
    font-size:38px;
    line-height:38px;
    font-weight:normal;
    font-family: 'Pacifico', cursive;
    color:#292723;
    text-decoration:none;
    padding:10px;
    border-width:0px;
    border-style:none;
  }
  &.nothing1 {
    border-style: none;
    border-width: 0;
    color: #FFFFFF;
    font-family: 'Nothing You Could Do',cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
  }
  &.new_title {
    border-style: none;
    border-width: 0;
    color: #292723;
    font-family:"Lato", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
  }
  &.big_title {
    border-style: none;
    border-width: 0;
    font-family:"Lato", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
    text-decoration: none;
    color: @base_color;
  }
  &.minidesc {
    border-style: none;
    border-width: 0;
    color: #9CA5AB;
    font-family:"Lato", sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
  }
  &.minidesc3 {
    font-size:16px;
    line-height:1.6;
    font-weight:300;
    font-family:"Lato", sans-serif;
    color:#fff;
    text-decoration:none;
    padding:10px;
    border-width:0;
    border-style:none;
  }
  a.jtbtn-big{
    border: 1px solid @base_color;
    color: #FFF;
    display: inline-block;
		padding: 9px 27px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		background:none;
  }
  &.new_title{
    border-style: none;
    border-width: 0;
    color: #292723;
    font-family:"Lato", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
  }
}
.tp-dottedoverlay.twoxtwo{
  background: url("../images/gridtile.png");
}
.jtbtn-big1 {
  display: inline-block;
  border:1px solid #111111;
  padding: 9px 35px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background:none;
  color: #ffffff !important;
}
.jtbtn-big2 {
  display: inline-block;
  border:1px solid #ffffff;
  padding: 9px 35px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background:#ffffff;
}
.jtbtn {
  display: inline-block;
  padding: 6px 23px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background:none;
  color: #292723 !important;
  border-color: #292723 #292723 #292723;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #292723;
}
/************************************************************
    CAROUSEL PAGING AND CONTROL JOLLY STYLE
************************************************************/
.carousel-indicators {
    bottom: -20px;
    li {
        border-color: @base_color;
        background-color: #FFF;
        width: 12px;
        height:12px;
        &.active {
            background-color: @base_color;
        }
    }
}

div.dexp_carousel {
  .carousel-control{
    text-shadow: white;
    z-index:99;
    font-size: 28px;
    span{
      top:50%;
      position: absolute;
      width: 40px;
      height: 60px;
      line-height: 60px;
      margin-top: -30px;
      text-align: center;
      background-color:@base_color; 
      color: #fff;
      opacity:0;
      .transition(all,0.1s);
    }
    &.right{
      background: none;
      span{
        right:0;
      }
      &:hover{
        span{
          opacity:1;
          right: 20px;
        }
      }
    }
    &.left{
      background: none;
      span{
        left:0;
      }
      &:hover{
        span{
          opacity:1;
          left: 20px;
        }
      }
    }
  }
  &:hover{
    .right{
      span{
          opacity:1;
          right: 20px;
        }
      
    }
    .left{
      span{
          opacity:1;
          left: 20px;
        }
    }
  }
}
div[id^=dexp-layerslider]{
  .tparrows,.tp-bullets{opacity:0;}
  &:hover{
    .tparrows,.tp-bullets{opacity:1;}
  }
}
.tp-bullets.simplebullets.navbar {
		height: 35px;
		padding: 0px 0px;
}
.tp-bullets.simplebullets .bullet {
  cursor: pointer;
  position: relative !important;
  background: rgba(255, 255, 255, 0.5) !important;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 6px !important;
  height: 6px !important;
  border: 5px solid rgba(0, 0, 0, 0);
  display: inline-block;
  margin-right: 2px !important;
  margin-bottom: 14px !important;
  -webkit-transition: background-color 0.2s, border-color 0.2s;
  -moz-transition: background-color 0.2s, border-color 0.2s;
  -o-transition: background-color 0.2s, border-color 0.2s;
  -ms-transition: background-color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, border-color 0.2s;
  float:none !important;
}
.tp-bullets.simplebullets .bullet.last {
  margin-right: 0px
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: @base_color !important;
  width: 6px !important;
  height: 6px !important;
  border: 5px solid @base_color;
}	
.tparrows:before {
  font-family: 'revicons';
  color: #fff;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0;
  margin-top: 8px;
  text-align: center;
  width: 50px;
  font-size: 20px;
}
.tparrows {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3) !important;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 50px !important;
  height: 50px !important;
}
.tparrows:hover {
  color: #fff;
}
.tp-leftarrow:before {
  content: '\e824';
}
.tp-rightarrow:before {
  content: '\e825';
}
.tparrows.tp-rightarrow:before {
  margin-left: 1px;
}
.tparrows:hover {
  background: rgba(0, 0, 0, 1) !important;
}