/* @override 
	http://dev.palmettolasik.com/sites/all/themes/jollyness_sub/prolifik-base.css?nekfxl
	http://dev.palmettolasik.com/sites/all/themes/jollyness_sub/prolifik-base.css?nfny8j
	http://dev.palmettolasik.com/sites/all/themes/jollyness_sub/prolifik-base.css?nfqynh
	http://dev.palmettolasik.com/sites/all/themes/jollyness_sub/prolifik-base.css?nfqzer
	http://dev.palmettolasik.com/sites/all/themes/jollyness_sub/prolifik-base.css?nfr1qc
	http://www.palmettolasik.com/sites/all/themes/jollyness_sub/prolifik-base.css?ng5zju */
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
/* @group Base Media Query */
ul {
	margin-top: 10px;
	margin-left: 20px;
}

#section-header.fixed .site-logo img {
	max-height: 80px;
}

div.question.big {
	font-weight: bold;
	text-align: center;
	font-size: 2em;
}

div.row.bordered {
	border: 1px solid silver;
	padding: 20px;
	margin: 10px;
}
 
i.fa.fa-question-circle {
	margin-right: 10px;
	font-size: 1.5em;
}

div.question {
	font-weight: bold;
	font-size: 1.25em;
}

.well, .well h2 {
/*	color: #292929;
	clear: both;*/
}
div.pizza, .field-name-field-subline {
	color: #0f6a36;
	font-size: 2em;
	text-align: center;
}

.field.field-name-field-sub-support {
	color: #0f6a36;
	font-size: 2em;
	text-align: center;
	font: 1.5em 'Kaushan Script', cursive;
}
div.testimonial {
	padding: 0;
	text-align: justify;
}

#section-our-client {
	background: url(/LASIK/blurred-palmetto.jpg) no-repeat;
	background-size: cover;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
#section-our-client div.life {
	font: bold 2em Cabin;
	text-align: left;
}

#section-our-client hr {
	margin: 0;
}

#block-bean-horizontal-schedule {
	text-align: right;
}

.page-node-28 div.col-sm-4 h3 {
text-align: center;	
}

#block-bean-horizontal-schedule button.btn.btn-danger {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

section#section-footer.dexp-section.footer1.jt-shadow {
	background-color: #1f1f1f;
}

#block-views-testimonials-block-1 div.title {
	text-align: center;
	font-style: italic;
}

.col.centered {
	text-align: center;
}
.col.bordered {
	border: 1px solid silver;
	border-radius: 25px;
	padding: 20px;
}

div.overlay.hero {
	font-size: 2em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	bottom: 3em;
	color: black;
}
li.print_html, li.print_mail {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px black;
    color: white;
    display: block;
    float: left;
	font: 1.25em Cabin;
	margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 10em;
}

#dexp-dropdown ul.menu li a {
	color: #0d6a36;
	font-family: Cabin;
}

/* @group FAQ's */
#block-views-video-placement-block-2 .view-header {
	margin-bottom: 15px;
	margin-top: 10px;
}

#section-main-content {
	padding-bottom: 15px;
}

#block-views-video-placement-block-2 div span.FAQ {
	font-weight: bold;
	text-align: center;
}
#block-views-video-placement-block-2 div.views-field.views-field-nothing {
	text-align: center;
	font-size: 3em;
	line-height: 1em;
	color: #dbdbdb;
}

/* @end */

/* @group Forms */
.fsRowBody input {
	max-height: 30px;
}

.fsSubmit input.fsSubmitButton{
	background-color: #2aa7dc;
	color: white;
	width: 50%;
}


body .fsBody .fsRowBody textarea {
	width: 100%;
}

#block-views-locations-block-2 h2.block-title {
	text-align: center;
}

div.leaflet-popup-content-wrapper {
	color: #585858;
}

div.centered-video {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

#block-bean-node-ctas, div.cta {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 15px;
}

.field-name-sidebarctas a div.btn.btn-primary {
	padding-top: 5px;
	padding-bottom: 15px;
	text-align: center;
}

body .fsBody .fsSubmit.fsPagination {
	padding: 0;
	margin: 0;
}

body .fsBody .fsRowBody{padding: 5px 15px
}
/* @end */
div.tagline {
	font-size: 2.25em;
	color: black;
	text-align: center;
}
/* @group Features Area */

#section-features .tagline {
	font-size: 4em;
	color: white;
}
#section-features .subtagline {
	color: white;
	font-size: 2em;
}

div.line-bottom {
	max-width: 200px;
	margin-right: auto;
	margin-left: auto;
}

#block-bean-value-of-quality {
	background: url(/LASIK/LASIK-equipmentLOW.jpg) no-repeat;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 150px;
	background-position: center;
}
#block-bean-value-of-quality div.content {
	background-color: rgba(0, 0, 0, 0.7);
}

/* @end */

/* @group Testimonials Home */

#block-views-testimonials-block-1 h2.block-title {
	text-align: center;
}
#block-views-testimonials-block-1 p {
	width: 80%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#block-views-testimonials-block-1 .view-footer {
	text-align: center;
	font-size: 2em;
}
/* @end */

/* @group CTA Bean Home */

#block-bean-sidebar-cta-pills div.btn{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	font-weight: bold;
	border: 1px solid #333;
}

#block-bean-sidebar-cta-pills  {
	text-align: center;
	background-color: #d0d0d0;
	border: 1px solid silver;
	padding-bottom: 20px;
}

.page-node-4 .view-mode-full div.row, .page-node-28 .view-mode-full div.row {
display: none;	
}

/* @end */
/* @group Footer */
#block-bean-contact-us-footer {
	overflow: hidden; width: 100%;
}
#block-bean-schema-footer i {
	font-size: 1.25em;
	margin-right: 10px;
}
#block-bean-schema-footer i.fa-map-marker {
	float: left;
}

#block-bean-schema-footer .details {
	margin-left: 27px;
}

#block-bean-schema-footer span.name {
	font-size: 1.25em;
}

/* @end */
/* @group Front Focus */

.front #section-content .zone-wrapper .zone .region-inner {
  margin: 0;
  padding: 20px;
}

.front .region-slider {
	margin: 0;
	padding: 0;
	background: url(images/lasik-nonfocus.jpg) silver;
	background-size: cover;
	min-height: 250px;
	width: 100%;
}
.front .region-slider:hover {
	margin: 0;
	background: url(images/lasik-focus.jpg) gray;
	background-size: cover;
	min-height: 250px;
}

#block-bean-front-lasik-focus div.main-over {
	color: white;
	font: 1.75em Cabin;
	font-weight: bold;
	margin-top: 30px;
	text-shadow: 0 1px 2px black;
}

span.undercursive {
	font: 1.25em 'Kaushan Script', cursive;
}

#block-views-map-block h2.block-title {
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}

#block-bean-front-lasik-focus button.btn.btn-primary.btn-lg {
	margin-top: 20px;
}

#block-bean-front-lasik-focus div.sub-over {
	color: white;
	font: 1.25em Cabin;
	font-weight: bold;
	position: relative;
	text-shadow: 0 1px 2px black;
}
#block-bean-front-lasik-focus {
	text-align: center;
}

div.modal-body {
	text-align: left;
}
/* @end */


#node-page-56 div.FBshare {
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #AAA;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
	background-color: #ededed;
}
#fb-like-box {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	display: block;
	margin-bottom: 10px;
}
div.instruction.right {
	font-size: 32px;
	margin: 10px auto;
	width: 400px;
}
/* @group Social Links */
span.phone {
	margin-left: 10px;
	margin-right: 20px;
		font-size: 1.25em;
}

div.region.region-contact-info.col-xs-12.col-sm-8.col-md-5.col-lg-5 {
	float: right;
	margin-top: 10px;
}

#block-bean-phone-in-header i {
	font-size: 1.25em;
}

#social-media-links {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
/*	width: 210px;*/
}

#block-bean-social-and-number {
	margin-bottom: 20px;
}

#social-media-links li{display: block;list-style:none;
	float: left;
	margin-right: 7px;
	margin-left: 7px;
}
#social-media-links li{
	font-size: 2em;
}
#social-media-links a span{position:absolute;left:-5000px}
/*#social-media-links a{height: 33px;width:34px;display: inline-block;
}*/
#social-media-links a:hover {
	padding-bottom: 3px;
	border-bottom: 2px solid #0c6739;
}
/* @end */

#node-88 .field-name-field-image {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}


/* @end */



/* @group Narrow Media Query */
@media (min-width: 767px) and (min-device-width: 767px), all and (max-device-width: 979px) and (min-width: 979px) and (orientation:landscape) {
	.front .region-slider{
		min-height: 450px;
	}
	.front .region-slider:hover {min-height: 450px;}
	
	#block-bean-front-lasik-focus div.main-over {
		font: 6em Cabin;
		font-weight: bold;
	}
	#block-bean-front-lasik-focus div.sub-over {
		font: 2em Cabin;
	}
}

/* @end */

#block-bean-white-logo-footer img {float: right;}
#block-bean-home-3-reasons .row {
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
		background-image: -webkit-linear-gradient(top, white 0%, #f5f5f5 100%);
		background-image: -moz-linear-gradient(top, white 0%, #f5f5f5 100%);
		background-image: -ms-linear-gradient(top, white 0%, #f5f5f5 100%);
		background-image: linear-gradient(to bottom, white 0%, #f5f5f5 100%);
		margin-top: 10px;
}

#block-bean-home-3-reasons .col-sm-4 {
	padding: 15px;
}

div.content-callout {
	clear: both;
	font: bold 2em Cabin;
	text-align: center;
	color: white;
	background-color: #0d6a38;
	border-radius: 15px;
	padding: 3px;
}

div.content-3 {
	clear: both;
	margin-bottom: 20px;
}

div.content-3 h2 {
	text-align: center;
}
div.cta-button {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	text-transform: lowercase;
}

.block a.cta-button {
	padding: 7px 20px;
	margin-top: 10px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	background-color: #A54845;
}


div.headline {
	font: 2em Cabin;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: #0C6839;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #659895;
}

#block-bean-home-3-reasons p {
	text-align: center;
}

#block-bean-home-3-reasons  h2 {
	text-align: center;
}

div.hours-label {
	margin-top: 10px;
}

/* @group Normal Media Query */
@media (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape) {

}

/* @end */

/* @group Wide Media Query */
@media (min-width: 1220px) {

}


/* @end */


d