/* @override 
	http://www.palmettolasik.com/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?n70bul */

.logo-img {
  float: left;
  text-align: left;
}

/* User */
#region-user-first,
#region-user-second {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 0;
  width: 50%;
}

/* Search Form */
#block-search-form {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}
#region-menu nav.navigation ul.menu li.leaf {display: block; float: left;
}
#zone-menu-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
}

#block-bean-active-campaign-form  div.form-main {
	font-size: 20px;
	line-height: 20px;
}

#block-bean-active-campaign-form {
/*-webkit-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;*/
}
div.white-logo {
	margin-left: 0;
	margin-right: 20px;
	float: left;
}
div.footer-sell {
	text-align: left;
}
#block-bean-footer-claim-text div.white-logo img {
	height: 60px;
}

a.sf-depth-1 {
	font-size: 15px;
	margin-top: 5px;
}
.view-testimonials div.attachment .views-row {
	display: inline-block; float: left;
	width: 50%;
	margin-bottom: 10px;
}
.view-testimonials div.attachment {
}

.view-testimonials div div.testimonial {
	clear: both;
	padding: 20px;
}



