/* @override 
	http://palmettolasik.com/sites/all/themes/prolifik/css/prolifik-alpha-default-wide.css?n2znm3 */

/* This file will hold styles that are loaded using the same media query as the wide grid. */

#block-bean-active-campaign-form  div.form-main {
	font-size: 34px;
	line-height: 34px;
}