/* @override 
	http://www.palmettolasik.com/sites/all/themes/prolifik/css/prolifik-base.css?n7muuw
	http://www.palmettolasik.com/sites/all/themes/prolifik/css/prolifik-base.css?n7qf4t
	http://www.palmettolasik.com/sites/all/themes/prolifik/css/prolifik-base.css?n7qfg4
	http://www.palmettolasik.com/sites/all/themes/prolifik/css/prolifik-base.css?n7qls7 */

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);


/*
Light = #659895
8BB7A8
Dark = #486d6b
*/
/* This file will hold the main styles for your website. */


/* Kill flexible images in IE6-8 */
body:after{
    display:none;
    content: url(../images/lasik-nonfocus.jpg) url(../images/lasik-focus.jpg);
    }

#node-page-56 div.FBshare {
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #AAA;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
	background-color: #ededed;
}
#fb-like-box {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	display: block;
	margin-bottom: 10px;
}
div.instruction.right {
	font-size: 32px;
	margin: 10px auto;
	width: 400px;
}

.ie6-8 img {
  max-width: none; }
 /* Improve IE's resizing of images */
svg:not(:root) {
    overflow: hidden; }
  
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
h2.services {
	margin-top: 10px;
}
.weak {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

/* @group Links */
a, a:link {
  text-decoration: none;
  
}
a, a:link, a:visited, a:active {
  color: #A54845;
}
a:hover {
  text-decoration: underline;
}
/* @end */

/* @group Headers */

body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #0C6839;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #486d6b;
}

.field-name-field-subline {
	font-weight: bold;
	color: #486d6b;
	font-size: 1.5em;
	font-family: Cabin;
}
.field-name-field-sub-support {
	color: #486d6b;
	font: 1.2em Cabin;
	margin-bottom: 20px;
}
/* @end */

/* @group Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}
/* @end */

/* @group Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* @end */

/* @group Fonts */
body { font-size: 67%;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
}
#admin-menu {font-size: 1.2em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

/* Menu */
#region-menu nav.navigation > ul.menu > li > a {
  font-size: 1.5em;
  line-height: 1em;
}
#region-menu nav.navigation > ul.menu > li > ul,
#region-menu nav.navigation > ul.menu > li > div,
#region-menu nav.navigation-secondary > ul.menu > li > a {
  font-size: 1.2em;
}

/* Blocks */
div.block-title h2.block-title {
  font-size: 2.4em;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

/* Content */
#messages,
ul.action-links,
ul.tabs,
#zone-preface .region-inner > .block > .content,
#zone-content .region-inner > .block > .content,
#zone-postfix .region-inner > .block > .content {
  font-size: 1.4em;
}
#zone-footer .region-inner > .block > .content {
  font-size: 1.2em;
}
/* Headers */
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
.block > .content h1 {
  font-size: 2em;
}
.block > .content h2 {
  font-size: 1.714em;
}
.block > .content h3 {
  font-size: 1.429em;
}
.block > .content h4 {
  font-size: 1.143em;
}
.block > .content h5 {
  font-size: 1em;
}

div.caption {
	font-size: .9em;
	text-align: justify;
	margin-right: 5%;
	margin-left: 5%;
}

/* @end */


/* @group Page */
#page {
  position: relative;
}
/* @end */

/* @group Blocks */
.block .content {
  color: #393939;
}
.block .content li {}
.block .content .item-list li {
  margin: 0;
}
/* @end */

#block-bean-footer-claim-text {
	font-size: 1.45em;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
#block-bean-footer-claim-text div.separator {
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 25.3%, rgb(255, 255, 255) 75.9%, rgba(255, 255, 255, 0) 100%);
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 25.3%, rgb(255, 255, 255) 75.9%, rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 25.3%, rgb(255, 255, 255) 75.9%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 25.3%, rgb(255, 255, 255) 75.9%, rgba(255, 255, 255, 0) 100%);
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}


/* @group Beans */

#block-bean-white-logo-footer img {float: right;}

div.content-3-1 {
	padding: 15px;border-radius: 15px;
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	background-image: -webkit-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: -moz-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: -ms-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: linear-gradient(to bottom, white 0%, #f5f5f5 100%);
	margin-top: 10px;
}


div.content-3-3 {
	padding: 15px;border-radius: 15px;
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	background-image: -webkit-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: -moz-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: -ms-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: linear-gradient(to bottom, white 0%, #f5f5f5 100%);
	margin-bottom: 10px;
	margin-top: 10px;
}

div.content-callout {
	clear: both;
	font: bold 2em Cabin;
	text-align: center;
	color: white;
	background-color: #0d6a38;
	border-radius: 15px;
	padding: 3px;
}

div.content-3 {
	clear: both;
	margin-bottom: 20px;
}

div.content-3 h2 {
	text-align: center;
}
div.cta-button {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	text-transform: lowercase;
}

.block a.cta-button {
	padding: 7px 20px;
	margin-top: 10px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	background-color: #A54845;
}


div.headline {
	font: 2em Cabin;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: #0C6839;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #659895;
}

#block-bean-home-3-reasons p {
	text-align: center;
}

#block-bean-home-3-reasons  h2 {
	text-align: center;
}

div.hours-label {
	margin-top: 10px;
}

#block-bean-active-campaign-form {
	background-color: #A54845;
	padding: 10px;
	color: white;
}


#block-bean-carecredit-content-bottom {
	background: url(../images/LASIK_financing.jpg) left center no-repeat white;
	padding-right: 10px;
	padding-left: 250px;
	height: 140px;
	padding-top: 90px;
	border: 1px solid #333;
	border-radius: 15px;
	-moz-box-shadow: 0 1px 2px black;
	box-shadow: 0 1px 2px black;
}

#block-bean-carecredit-content-bottom div.apply  {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background-color: #3CB56F;
	text-align: center;
	width: 30%;
	padding: 3px 5px;
	border-radius: 5px;
}

#block-bean-carecredit-content-bottom div.apply a {
	color: white;
	font-weight: bold;
}

#block-bean-active-campaign-form  div.form-main {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 24px;
}

#block-bean-active-campaign-form div.form-support {
	text-align: center;
	color: silver;
}

#_form_1012 div.label {
	color: white;
	font-size: 11px;
	margin-top: 10px;
}


#block-bean-active-campaign-form #compile41 input {
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-top: 10px;
	width: 50%;
}

/* @group Front Focus */

.front #section-content .zone-wrapper .zone .region-inner {
  margin: 0;
  padding: 20px;
}

#region-preface-first {
	
}

.front #region-preface-first {
	margin: 0;
	padding: 0;
	background-image: url(../images/lasik-nonfocus.jpg);
	background-size: cover;
	min-height: 250px;
	width: 100%;
}
.front #region-preface-first:hover {
	margin: 0;
	background-image: url(../images/lasik-focus.jpg);
	background-size: cover;
	min-height: 250px;
}

#block-bean-front-lasik-focus div.main-over {
	color: white;
	font: 1.75em Cabin;
	font-weight: bold;
}
#block-bean-front-lasik-focus div.sub-over {
	color: white;
	font: 1.25em Cabin;
	font-weight: bold;
}

/* @end */

/* @end */

/* @group Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}
/* @end */

/* @group Menu */



.block-submenutree ul.menu li {
	list-style: none;
	font-size: 1.25em;
}

.block a {
	color: #486d6b;
	font-weight: bold;
}

/* @group Footer Sitemap */

#footer-sitemap ul li {
	width: 20%;
	font-size: 1em;
}
#footer-sitemap ul li li {
	width: 100%;
	text-indent: 10px;
	font-weight: 300;
	font-size: .85em;
}

/* @end */

/* @end */
/* @group Search Form */
#block-search-form {
  margin: 0 auto 20px;
  width: 300px;
}
#block-search-form form {
  min-height: 0;
  position: relative;
}
#block-search-form .form-submit {
  background: url(../images/search.png) 0 0 no-repeat transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 4px;
  width: 24px;
}
#block-search-form .form-submit.focus:hover,
#block-search-form .form-submit.focus.hover {
  background-position: 0 -40px;
}
#block-search-form .form-submit.focus, #block-search-form .form-submit:active, #block-search-form .form-submit:focus {
  background-position: 0 -20px;
  border: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-search-form .form-text {
  color: #aaa;
  height: 28px;
  padding: 0 30px 0 4px;
  width: 100%;
}
#block-search-form .form-text.focus {
  color: #626262;
}

#block-search-form {
  margin: 0 auto 20px;
  width: 300px;
}
#block-search-form form {
  min-height: 0;
  position: relative;
}
#block-search-form .form-submit {
  background: url(../images/search.png) 0 0 no-repeat transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 4px;
  width: 24px;
}
#block-search-form .form-submit.focus:hover,
#block-search-form .form-submit.focus.hover {
  background-position: 0 -40px;
}
#block-search-form .form-submit.focus, #block-search-form .form-submit:active, #block-search-form .form-submit:focus {
  background-position: 0 -20px;
  border: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-search-form .form-text {
  color: #aaa;
  height: 28px;
  padding: 0 30px 0 4px;
  width: 100%;
}
#block-search-form .form-text.focus {
  color: #626262;
}

/* @end */
/* @group Content */

/* @group Sidebars */
#section-content #region-sidebar-first .region-inner,
#section-content #region-sidebar-second .region-inner {
  height: 100%;
}
/*#section-content #region-sidebar-first > .separator,
#section-content #region-sidebar-second > .separator {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(212,212,212,0.98) 49%, rgba(213,213,213,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ *!/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(212,212,212,0.98)), color-stop(50%,rgba(213,213,213,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ *!/
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ *!/
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ *!/
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ *!/
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* W3C *!/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 *!/
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
}*/
#section-content #region-sidebar-first > .separator {
  right: 0;
}
#section-content #region-sidebar-first .region-inner {
  padding-right: 30px;
}
#section-content #region-sidebar-second > .separator {
  left: 0;
}
#section-content #region-sidebar-second .region-inner {
	padding: 0;
}

/* @end */


ul.tabs {
  *padding-top: 1px;
}

#section-content {
	background: url(../images/green-wavy.jpg) center bottom no-repeat;
	background-size: 100%;
}
#section-content .section-wrapper {
  overflow: hidden;
-webkit-box-shadow: #666 0px 0px 10px;
-moz-box-shadow: #666 0px 0px 10px;
box-shadow: #666 0px 0px 10px;
        
}
#section-content .zone-wrapper {
	background-color: rgba(255, 255, 255, 0.92);
}

div.white-logo {
	clear: both;
	margin-right: auto;
	margin-left: auto;
}



#section-content .zone-wrapper > .separator {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(212,212,212,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(212,212,212,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  height: 1px;
}
#section-content .zone-wrapper .zone .region-inner {
  margin: 0;
  padding: 20px;
}
/* @end */

/* @group Branding */
#zone-branding-wrapper {
	}

#zone-branding {
  position: relative;
}
#region-branding {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
#region-branding .region-inner {
  padding: 20px;
	background-color: white;
}

.logo-img {
  float: none;
  margin: 0;
  text-align: center;
}

#logo {
  width: 250px;
}
/* @end */
/* @group Footer */
#zone-footer-wrapper {
  z-index: 1;
	padding-top: 10px;
	background-color: #0C6839;
}

#zone-footer-wrapper a,
#zone-footer-wrapper a:link
#zone-footer-wrapper a:visited {
  color: #fff;
}
#zone-footer-wrapper .block .content {
  color: white;
}
#zone-footer-wrapper div.block-title {
  margin: 15px 0;
}
#zone-footer-wrapper div.block-title h2.block-title div.separator {
  background-image: url(../images/separator-white.png);
}
#zone-footer-wrapper p {
  margin: 0;
  padding: 0;
  color: white;
}
#region-footer-first,
#region-footer-second {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}

#region-footer-first {
	margin-left: 10px;
	margin-right: 10px;
}

#region-footer-bottom {
  margin: 0;
  padding: 20px 0;
  width: 100%;
}
#region-footer-bottom .region-inner {
  padding: 0 20px;
}
#region-footer-bottom img {
  vertical-align: middle;
}
#region-footer-bottom img.levelten {
  position: relative;
  top: 2px;
}

/* Legal Notices Menu */
#region-footer-bottom .block {
  float: left;
}
#region-footer-bottom #block-menu-menu-legal-notices {
  float: right;
}
#region-footer-bottom #block-menu-menu-legal-notices .block-title {
  display: none;
}
#region-footer-bottom #block-menu-menu-legal-notices li {
  background: none;
  float: left;
  list-style: none;
}

body > #page #zone-footer h1, body > #page #zone-footer h2, body > #page #zone-footer h3,
body > #page #zone-footer h4, body > #page #zone-footer h5, body > #page #zone-footer h6, #zone-footer div.block-title {
  color: #fff;
	margin-bottom: 0;
	margin-top: 0;
}

#zone-footer label {
	color: white;
}
/* @end */

/* @group Form */
textarea, select, input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  background: #fcfcfc;
}
input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  background: #fff;
}
button, textarea, select, input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"], input[type="week"] {  
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #626262;
  z-index: 1;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #489ec8;
}
.node-links ul li a, .comment-links ul li a,
button, input[type="reset"], input[type="submit"], input[type="button"] {
  background: rgb(250,250,250); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  border: 1px solid #dcdcdc;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #424242;
  letter-spacing: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-size: 0.8em;
  padding: 5px 15px;
  text-shadow: none;
  text-transform: uppercase;
}
.node-links ul li a:hover, .comment-links ul li a:hover,
.form-actions input:hover {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.node-links ul li a:active, .comment-links ul li a:active,
.form-actions input:active {
  background: rgb(221,221,221); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(221,221,221,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

#region-sidebar-second textarea, #region-sidebar-second select, #region-sidebar-second input[type="date"],
#region-sidebar-second input[type="datetime"], #region-sidebar-second input[type="datetime-local"],
#region-sidebar-second input[type="email"], #region-sidebar-second input[type="month"],
#region-sidebar-second input[type="number"], #region-sidebar-second input[type="password"],
#region-sidebar-second input[type="search"], #region-sidebar-second input[type="tel"],
#region-sidebar-second input[type="text"], #region-sidebar-second input[type="time"],
#region-sidebar-second input[type="url"], input[type="week"] {
  width: 100%;
}
/* @end */

/* @group Header */

#section-header {
  position: relative;
}

#zone-header {
	background-color: white;
}

#zone-header-wrapper {
  overflow: hidden;
  position: relative;
}

/* @end */

/* @group Menu */
#zone-menu {
  min-height: 30px;
  z-index: 10;
  }

#zone-menu-wrapper {
	position: relative;
	z-index: 999;
	background-color: #0C6839;
}
#region-menu .region-inner {
  margin: 0 -10px;
}
#region-menu nav > ul.menu > li {
  background: none;
  float: none;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;
  position: relative;
  display: block;
text-align: center;
}
#region-menu nav > ul.menu > li.last {
  margin: 0;
}
#region-menu nav > ul.menu > li > a,
#region-menu nav > ul.menu > li > a:link,
#region-menu nav > ul.menu > li > a:visited {
  color: #fff;
}
#region-menu nav > ul.menu > li > a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

#region-menu nav > ul.menu > li:hover > a,
#region-menu nav > ul.menu > li.hover > a {
  background: rgba(255,255,255,.2);
}

/* Drop Down Menus */
#region-menu nav > ul.menu > li ul,
#region-menu nav > ul.menu > li .view {
  display: none;
}
#region-menu nav > ul.menu > li:hover ul,
#region-menu nav > ul.menu > li:hover .view,
#region-menu nav > ul.menu > li.hover ul,
#region-menu nav > ul.menu > li.hover .view {
  display: block;
  position: absolute;
}

/* Secondary Menu */
#region-menu nav.navigation-secondary {
  float: right;
  position: relative;
  top: 7px;
}
#region-menu nav.navigation-secondary ul.menu > li > a {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
}
/* @group Superfish */


#block-superfish-1 {
}
#superfish-1-select {
	display: block;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size: 15px;
	width: 50%;
}
.sf-menu,
.sf-menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sf-menu {
  line-height: 1.0;
  z-index: 497;
}
.sf-menu.sf-horizontal ul {
	background: url(none) #0c6636;
	padding-bottom: 10px;
	padding-right: 10px;
}
.sf-menu.sf-horizontal.sf-shadow ul,
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
	background: url(none) no-repeat #0C6839;
	margin-top: 8px;
	border-radius: 2px;
}

.sf-menu ul {
  left: 0;
  position: absolute;
  top: -99999em;
  width: 12em;
	margin-top: 16px;
}
.sf-menu ul li {
  width: 100%;
	margin-top: 5px;
	border-bottom: 1px solid #FFF;
	padding-bottom: 5px;
}
.sf-menu ul li.last, .sf-menu ul li.firstandlast {
	border-bottom: none;
}
.sf-menu li {
  float: left;
  position: relative;
  z-index: 498;
	width: 18%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

a.sf-depth-1 {
	font-size: 17px;
	margin-top: 5px;
}

.sf-menu a {
  display: block;
  position: relative;
	color: white;
	
}
.sf-menu a:visited {
	color: white;
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  z-index: 499;
	text-decoration: none;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  left: 0;
  top: 2.5em;
}
.sf-menu li li:hover > ul,
.sf-menu li li.sfHover > ul {
  left: 12em;
  top: 0;
}
.sf-hidden {
  left: 0 !important;
  top: -99999em !important;
}
.sf-menu a.sf-with-ul {
  min-width: 1px;
}
.sf-sub-indicator {
  background: url('../images/arrows-ffffff.png') no-repeat -10px -100px;
  display: block;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 0.75em;
  text-indent: -999em;
  top: 1.05em;
  width: 10px;
}
a > .sf-sub-indicator {
  top: 0.8em;
  background-position: 0 -100px;
}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}
.sf-menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}

.sf-shadow ul.sf-shadow-off {
  background: transparent;}
 
a.sf-depth-1.active, a.sf-depth-1:hover {
	color: white;
	text-decoration: none;
}

.sf-menu a.sf-depth-2 {
color: white;
font-size: 14px;
	margin-top: 10px;
	text-align: left;
}
.sf-menu a.sf-depth-2:hover {
	text-decoration: none;
}

li.sf-depth-2.sf-megamenu-column.menuparent {
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 12px;
}

.sf-menu a.sf-depth-3 {
	font-weight: lighter;
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
}

/* @end */
/* @end */

/* @group Flexslider */

#flexslider-1 div.views-field.views-field-title {
	text-align: center;
	font-size: 1.5em;
	background-color: #86878c;
}
#flexslider-1 div.views-field.views-field-title a {color: white;
	font-weight: 600;
}

.flexslider { margin: 0 0 60px; background: #fff; border: none; position: relative; -webkit-border-radius: 0px; -moz-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; zoom: 1; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 50px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }

/* @end */


.view-mode-full .field-name-field-profile-picutre img {
float: left;
margin-right: 10px;
margin-bottom: 15px;
	-moz-box-shadow: 2px 2px 2px black;
	box-shadow: 2px 2px 2px black;
	border: 3px solid #d6d6d6;
}

.view-mode-full.node-person .field-name-field-job-title {
	font-style: italic;
}

.view-mode-full.node-person h2 {
	margin-bottom: 0;
}

/* @group About Section */

#node-page-4 img.left {
	-moz-box-shadow: 0 1px 12px black;
	box-shadow: 0 1px 12px black;
	margin-right: 20px;
}

/* @end */

.view-testimonials p {
	margin-bottom: 0;
	margin-left: 20px;
}
.view-testimonials div div.testimonial::before {
	content:"\f10d";
	font: 42px fontawesome;
	float: left;
	padding-right: 10px;
}
.view-testimonials div div.testimonial::after {
	content:"\f10e";
	font: 42px fontawesome;
	float: right;
}
.view-testimonials div.title {
	text-align: right;
	margin-bottom: 20px;
	font-style: italic;
	font-size: 1.5em;
	margin-top: 20px;
}

#block-views-video-placement-block-2  div.view-header {
	font-weight: bold;
}
#block-views-video-placement-block-2 {
	padding: 10px;
	border: 1px solid #AAA;
}

#block-views-video-placement-block-2 div.FAQ {
	text-align: left;
}
#block-views-video-placement-block-2 span.FAQ::before {
content:"\f06e";
	font: 24px fontawesome;
	float: left;
	margin-right: 10px;
	color: rgb(163, 182, 181);
}



/* @group Social Links */
div.phone {
	text-align: center;
	font-size: 2.65em;
	position: relative;
	right: 6px;
	margin-right: 10px;
}

#social-media-links {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 210px;
}

#block-bean-social-and-number {
	margin-bottom: 20px;
}

#social-media-links li{display: block;list-style:none;
	float: left;
	margin-right: 7px;
}
#social-media-links a span{position:absolute;left:-5000px}
#social-media-links a{height: 33px;width:34px;display: inline-block;
}
#social-media-links a:hover {
	padding-bottom: 3px;
	border-bottom: 2px solid #0c6739;
}
/* @end */

