/* @override 
	http://palmettolasik.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?n2xuiz
	http://palmettolasik.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?n2znm3
	http://palmettolasik.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?n3gi1x
	http://www.palmettolasik.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?n7qf4t */

/* This file will hold styles that are loaded using the same media query as the normal grid. */

#logo {
  width: 250px;
}

/* Search Form */
#block-search-form {
  position: absolute;
  right: 0;
  text-align: right;
  top: 35px;
  width: 300px;
  z-index: 1;
}

div.content-3-1 {
	margin-right: 1.2%;
	width: 27%;
	float: left;
	height: 300px;
}

.block div.content-3-1 h2, .block div.content-3-3 h2 {
	font-size: 22px;
}

div.content-3-3 {
	width: 28.5%;
	display: inline-block;
	height: 300px;
}
/* @group Front Focus */

.front #region-preface-first {
	min-height: 450px;
}
.front #region-preface-first:hover {min-height: 450px;}

#block-bean-front-lasik-focus div.main-over {
	font: 6em Cabin;
	font-weight: bold;
}
#block-bean-front-lasik-focus div.sub-over {
	font: 2em Cabin;
}

/* @end */

#block-bean-active-campaign-form  div.form-main {
	font-size: 26px;
	line-height: 26px;
}
a.sf-depth-1 {
	font-size: 17px;
}

#wistia-full {
	max-width: 750px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}