@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
src:local('Open Sans Light'),
local('OpenSans-Light'),
url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'),
url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src:local('Open Sans'),
local('OpenSans'),
url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),
url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'),
url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
src:local('Open Sans Semibold'),
local('OpenSans-Semibold'),
url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'),
url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
src:local('Open Sans Bold'),
local('OpenSans-Bold'),
url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'),
url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
src:local('Open Sans Extrabold'),
local('OpenSans-Extrabold'),
url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'),
url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff'),
url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-honF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@media screen{html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,select,textarea,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,td.menu-disabled,ul.links,ul.links.inline,ul.links li,.block ul,div.admin,tr.even,tr.odd,tr.drag,tbody,tbody th,thead th,.breadcrumb,.item-list .icon,.item-list .title,.item-list ul,.item-list ul li,ol.task-list li.active,.form-item,tr.odd .form-item,tr.even .form-item,.form-item .description,.form-item label,.form-item label.option,.form-checkboxes,.form-radios,.form-checkboxes .form-item,.form-radios .form-item,.marker,.form-required,.more-link,.more-help-link,.item-list .pager,.item-list .pager li,.pager-current,.tips,ul.primary,ul.primary li,ul.primary li a,ul.primary li.active a,ul.primary li a:hover,ul.secondary,ul.secondary li,ul.secondary a,ul.secondary a.active,.resizable-textarea{margin:0;padding:0;border:0;vertical-align:baseline}ul.links,ul.links.inline,ul.links li,.block ul,ol,ul,.item-list ul,.item-list ul li{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}textarea{font-size:1em;line-height:1.538em}ul.links:after,div.admin-panel .body:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}ul.inline:after{content:"";display:none;clear:none}* html .form-item,* html ul.links,* html div.admin-panel .body,* html .clearfix{height:1%}*:first-child+html .form-item,*:first-child+html ul.links,*:first-child+html div.admin-panel .body,*:first-child+html .clearfix{min-height:1%}}@media screen{body{color:#000;background:#fff;font:normal 81.3%/1.538em "Lucida Grande","Lucida Sans Unicode",sans-serif}a{color:#0074bd;text-decoration:none}a:hover{text-decoration:underline}hr{margin:0;padding:0;border:0;height:1px;background:#ccc}legend{font-weight:bold}h1,h2,h3,h4,h5,h6{font-weight:bold;margin:10px 0}h1{font-size:1.538em}h2{font-size:1.385em}h3{font-size:1.231em}h4{font-size:1.154em}h5,h6{font-size:1.077em}p{margin:1em 0}dl{margin:0 0 20px}dl dd,dl dl{margin-left:30px;margin-bottom:10px}blockquote{margin:1em 40px}address{font-style:italic}u,ins{text-decoration:underline}s,strike,del{text-decoration:line-through}big{font-size:larger}small{font-size:smaller}sub{vertical-align:sub;font-size:smaller;line-height:normal}sup{vertical-align:super;font-size:smaller;line-height:normal}nobr{white-space:nowrap}abbr,acronym{border-bottom:dotted 1px}ul,.block ul,.item-list ul{list-style-type:disc;list-style-image:none;margin:.25em 0 .25em 1.5em}.item-list .pager li{padding:.5em}.item-list ul li,li.leaf,ul.menu li{list-style-type:disc;list-style-image:none}ul.menu li{margin:0}ol{list-style-type:decimal;margin:.25em 0 .25em 2em}.item-list ul li.collapsed,ul.menu li.collapsed{list-style-image:url(https://palmettolasik.com/sites/all/themes/misc/menu-collapsed.png);list-style-type:disc}.item-list ul li.expanded,ul.menu li.expanded{list-style-image:url(https://palmettolasik.com/sites/all/themes/misc/menu-expanded.png);list-style-type:circle}quote,code{margin:.5em 0}code,pre,kbd{font-size:1.231em}pre{margin:.5em 0;white-space:pre-wrap}#skip-link{margin-top:0;position:absolute;left:50%;margin-left:-5.25em;width:auto;z-index:50}#skip-link a,#skip-link a:link,#skip-link a:visited{display:block;background:#444;color:#fff;font-size:.94em;padding:1px 10px 2px 10px;text-decoration:none;-moz-border-radius:0 0 10px 10px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;border-radius:0 0 10px 10px}
#skip-link a:hover,#skip-link a:focus,#skip-link a:active{outline:0}#branding{overflow:hidden;padding:20px 40px 0 40px;position:relative;background-color:#e0e0d8}#branding div.breadcrumb{font-size:.846em;padding-bottom:5px}#branding div.block{position:relative;float:right;width:240px;padding-left:10px;background:#333}#branding div.block form label{display:none}#branding div.block form div.form-item{float:left;border:0;margin:0;padding:0}#branding div.block form input.form-text{width:140px;margin-right:10px}#branding div.block form input.form-submit{text-align:center;width:80px}#help{font-size:.923em;margin-top:1em}#help p{margin:0 0 10px}#help div.more-help-link{text-align:right}#page-title{background:#333;padding-top:20px}#branding h1.page-title{color:#000;margin:0;padding-bottom:10px;font-size:1.385em;font-weight:normal;float:left}#console{margin:9px 0 10px}ul.primary{float:right;border-bottom:0;text-transform:uppercase;font-size:.923em;height:2.6em;margin:0;padding-top:0}ul.primary li{float:left;list-style:none;margin:0 2px}ul.primary li a:link,ul.primary li a.active,ul.primary li a:active,ul.primary li a:visited,ul.primary li a:hover,ul.primary li.active a{display:block;float:left;height:2.6em;line-height:2.6em;padding:0 18px 8px;background-color:#a6a7a2;color:#000;font-weight:bold;border-width:1px 1px 0 1px;border-style:solid;border-color:#a6a7a2;-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;border-radius:8px 8px 0 0}ul.primary li.active a,ul.primary li.active a.active,ul.primary li.active a:active,ul.primary li.active a:visited{background-color:#fff;border-color:#c9cac4}ul.primary li a:hover{color:#fff}ul.primary li.active a:hover{color:#000}.tabs-secondary{clear:both}ul.secondary{float:right;font-size:.923em;padding:0 3px 5px;line-height:1.385em;overflow:hidden;background-color:#fff}ul.secondary li{margin:0 5px;float:none}ul.secondary li a{background-color:#ddd;color:#000;display:inline-block}ul.secondary li a,ul.secondary li a:hover,ul.secondary li.active a,ul.secondary li.active a.active{padding:5px 10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}ul.secondary li a:hover,ul.secondary li.active a,ul.secondary li.active a.active{color:#fff;background:#666}#content{clear:left}#page{padding:20px 0 40px 0;margin-right:40px;margin-left:40px;background:#fff;position:relative;color:#333}#secondary-links ul.links li{padding:0 10px 10px 0}#secondary-links ul.links li a{font-size:.923em;background:#777;color:#fff;text-align:center;padding:5px;height:55px;width:80px;overflow:hidden;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}#secondary-links ul.links li a:hover{background:#999}ul.links li,ul.inline li{padding-right:1em}ul.inline li{display:inline}#secondary-links ul.links li.active-trail a,#secondary-links ul.links li a.active{background:#333}dl.node-type-list dt{position:relative;padding-left:30px;padding-top:9px;border-top:1px solid #ccc;margin-left:0;margin-bottom:10px;background:url(https://palmettolasik.com/sites/all/themes/shiny/images/list-item.png) no-repeat 0 11px;list-style-type:none;list-style-image:none}dl.node-type-list dt:first-child{border-top:0}.admin-panel .item-list ul,ul.admin-list{padding:0}.admin-panel .item-list ul,ul.admin-list.compact{margin:8px 0}.admin-panel .item-list li,ul.admin-list.compact li{border:0;background:none;margin:0 0 .75em;line-height:1;padding:0}ul.admin-list li:last-child{border-bottom:0}ul.admin-list li a{margin-left:-30px;padding:0 0 4px 30px;min-height:0}ul.admin-list.compact li a{margin-left:0;padding:0}ul.admin-list li div.description a{margin-left:0;padding:0;min-height:inherit}div.submitted{color:#898989}table{width:100%;font-size:.923em;margin:0 0 10px;border:1px solid #bebfb9}table td,table th{vertical-align:middle;padding:8px 10px;border:0;color:#000}tr.even,tr.odd{border-width:0 1px 0 1px;border-style:solid;border-color:#bebfb9;background:#f3f4ee}tr.odd{background:#fff}tr.drag{background:#fe7}tr.drag-previous{background:#ffb}table th{text-transform:uppercase;background:#e1e2dc;font-weight:normal;border-width:1px;border-style:solid;border-color:#bebfb9;padding:3px 10px}
table th.active{background:#d5d5d5}table th a{display:block;position:relative}table th.active a{padding:0 25px 0 0}table th.active img{position:absolute;top:3px;right:3px}table td.active{background:#e5e5e5}table tr.odd td.active{background:#f2f2f2}table tr.selected td.active,table tr.selected td{background:#ffc;border-color:#eeb}table.system-status-report tr{border-bottom:1px solid #ccc}table.system-status-report tr.ok{color:#255b1e;background-color:#e5ffe2}table.system-status-report tr.info{color:#040f37;background-color:#bdf}table.system-status-report tr.warning{color:#840;background-color:#fffce5}table.system-status-report tr.error{color:#8c2e0b;background-color:#fef5f1}tr td:last-child{border-right:1px solid #bebfb9}fieldset{border:1px solid #ccc;padding:2.5em 0 0 0;position:relative;margin:1em 0}fieldset .fieldset-legend{margin-top:.5em;padding-left:15px;position:absolute}fieldset .fieldset-wrapper{padding:0 13px 13px 15px}fieldset.collapsed{background-color:transparent}html.js fieldset.collapsed{border-width:1px;height:auto}fieldset fieldset{background-color:#fff}fieldset fieldset fieldset{background-color:#f8f8f8}.form-item{padding:9px 0;margin:0 0 10px}.filter-wrapper .form-item,div.teaser-checkbox .form-item,.form-item .form-item{padding:0;margin:0;border:0}.form-type-checkbox{padding:0}.text-format-wrapper .form-item{padding-bottom:0}.form-item label{margin:0;padding:0}.form-item label.option{font-size:.923em;padding-left:5px;text-transform:none}.form-item label.option input{vertical-align:middle}.form-disabled input.form-autocomplete,.form-disabled input.form-text,.form-disabled input.form-file,.form-disabled textarea.form-textarea,.form-disabled select.form-select{background-color:#eee;color:#777}.filter-wrapper{border-top:0;padding:10px 2px}.filter-wrapper .fieldset-wrapper{padding:0 6px}.filter-wrapper .form-item,.filter-wrapper .filter-guidelines,.filter-wrapper .filter-help{font-size:.923em;padding:2px 0 0 0}ul.tips,div.description,.form-item div.description{margin:5px 0;line-height:1.231em;font-size:.923em;color:#666}ul.tips li{margin:.25em 0 .25em 1.5em}body div.form-type-radio div.description,body div.form-type-checkbox div.description{margin-left:1.5em}input.form-submit,a.button{cursor:pointer;padding:4px 17px;margin-bottom:1em;margin-right:1em;color:#5a5a5a;text-align:center;font-weight:normal;font-size:1.077em;font-family:"Lucida Grande",Verdana,sans-serif;border:1px solid #e4e4e4;border-bottom:1px solid #b4b4b4;border-left-color:#d2d2d2;border-right-color:#d2d2d2;background:url(https://palmettolasik.com/sites/all/themes/shiny/images/buttons.png) 0 0 repeat-x;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px}a.button:link,a.button:visited,a.button:hover,a.button:active{text-decoration:none;color:#5a5a5a}input.form-submit:active{background:#666;color:#fff;border-color:#555;text-shadow:#222 0 -1px 0}input.form-button-disabled,input.form-button-disabled:active{background:#eee none;border-color:#eee;text-shadow:none;color:#999}input.form-autocomplete,input.form-text,input.form-file,textarea.form-textarea,select.form-select{padding:2px;border:1px solid #ccc;border-top-color:#999;background:#fff;color:#333}input.form-text:focus,input.form-file:focus,textarea.form-textarea:focus,select.form-select:focus{color:#000;border-color:#ace}html.js input.form-autocomplete{background-position:100% 4px}html.js input.throbbing{background-position:100% -16px}ul.action-links{margin:1em 0;padding:0 20px 0 20px;list-style-type:none;overflow:hidden}ul.action-links li{float:left;margin:0 1em 0 0}ul.action-links a{padding-left:15px;background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/add.png) no-repeat 0 center;line-height:30px}#diff-inline-form select,div.filter-options select{padding:0}div.admin .right,div.admin .left{width:49%;margin:0}div.admin-panel,div.admin-panel .body{padding:0;clear:left}div.admin-panel{margin:0 0 20px;padding:9px;background:#f8f8f8;border:1px solid #ccc}div.admin-panel h3{font-size:.923em;text-transform:uppercase;margin:0;padding-bottom:9px}
#system-themes-page h2{font-weight:normal;text-transform:uppercase}.theme-selector h3{font-weight:normal}.theme-default h3{font-weight:bold}.system-themes-list-enabled .theme-selector h3{margin-top:0}div.admin-options{background:#f8f8f8;line-height:30px;height:30px;padding:9px;border:1px solid #ccc;margin:0 0 10px}div.admin-options label{text-transform:uppercase;font:.846em/1.875em Lucida Grande,Lucida Sans Unicode,sans-serif}div.admin-options label,div.admin-options div.form-item{margin-right:10px;float:left}div.admin-options div.form-item{padding:0;border:0}.versions table.version{border:0}body.in-maintenance #sidebar-first{float:left;width:200px}body.in-maintenance #content{float:right;width:550px;padding-right:20px;clear:none}body.in-maintenance #page{overflow:auto;width:770px;margin:0 auto;padding-top:2em}body.in-maintenance #branding h1{width:770px;margin:0 auto;float:none}body.in-maintenance .form-radios .form-type-radio{padding:2px 0}body.in-maintenance div.form-item:after{content:"";display:none;clear:none}body.in-maintenance .form-submit{display:block}body.in-maintenance #logo{margin-bottom:1.5em;max-width:180px}ol.task-list{margin-left:0;list-style-type:none;list-style-image:none}ol.task-list li{padding:.5em 1em .5em 20px;color:#adadad}ol.task-list li.active{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/task-item.png) no-repeat 3px 50%;padding:.5em 1em .5em 20px;color:#000}ol.task-list li.done{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/task-check.png) no-repeat 0 50%;color:green}.overlay #branding{background-color:#fff;padding-top:15px}.overlay #branding h1.page-title,.overlay #left,.overlay #footer{display:none}.overlay #page{margin:0;padding:0 20px}.overlay #branding div.breadcrumb{float:left;position:relative;z-index:10}#overlay-tabs{bottom:-1px;font-size:1.54em;line-height:1.54em;margin:0}#overlay-tabs li{margin:0 -2px}.overlay ul.secondary{background:transparent none;margin:-1.4em 0 .3em 0;overflow:visible}.overlay #content{padding:0}h1#overlay-title{font-weight:normal}div.add-or-remove-shortcuts{float:left;padding-top:6px;padding-left:6px}#dashboard .dashboard-region div.block h2{background:#e0e0d8}#dashboard div.block h2{margin:0;font-size:1em;padding:3px 10px}#dashboard div.block div.content{padding:10px 5px 5px 5px}#dashboard div.block div.content ul.menu{margin-left:20px}#dashboard .dashboard-region .block{border:#ccc 1px solid}#field-display-overview input.field-formatter-settings-edit{margin:0;padding:1px 8px}#field-display-overview tr.field-formatter-settings-changed{background:#ffb}#field-display-overview tr.drag{background:#fe7}#field-display-overview tr.field-formatter-settings-editing{background:#d5e9f2}#field-display-overview .field-formatter-settings-edit-form .form-item{margin:10px 0}#field-display-overview .field-formatter-settings-edit-form .form-submit{margin-bottom:0}#dashboard div#block-node-recent div.content{padding:0}#block-node-recent table,#block-node-recent tr{border:0}#block-node-recent .more-link{padding:0 5px 5px 0}#user-login-form .openid-links{margin-left:0}#user-login-form .openid-links .user-link{margin-left:1.5em}#overlay-disable-message{background-color:#addafc}#overlay-disable-message a,#overlay-disable-message a:visited{color:#000}#overlay-disable-message a:focus,#overlay-disable-message a:active{outline:0;text-decoration:underline}.overlay-disable-message-focused a{padding:.4em .6em}.overlay-disable-message-focused #overlay-dismiss-message{background-color:#59a0d8;color:#fff;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}}@media screen{.form-item,.form-item .form-item{margin-bottom:10px;padding-bottom:0;padding-top:0}.form-actions{margin-bottom:0;margin-top:0}.form-item .form-item{padding-bottom:0;padding-top:0}.form-radios>.form-item{margin-top:3px}.field-type-commerce-product-reference fieldset.form-wrapper{border:0}.field-type-commerce-product-reference fieldset .fieldset-legend{border-bottom:1px solid #ccc;margin:0 0 0 15px;padding:5px 0 5px 0;text-transform:none;width:97%}
.field-widget-inline-entity-form fieldset.collapsible .fieldset-legend{color:#585858;font-size:15px;font-weight:700;margin-top:15px}.field-widget-inline-entity-form .fieldset-wrapper{background:transparent;outline:0;padding:10px 0 0}.field-widget-inline-entity-form .ief-form-bottom{padding-top:40px}.field-widget-inline-entity-form .ief-form-bottom>.fieldset-wrapper{border:1px solid #ccc;padding:15px}.field-widget-inline-entity-form .ief-form-bottom>.fieldset-wrapper .fieldset-legend,.field-widget-inline-entity-form .ief-form-bottom>.fieldset-wrapper fieldset>.fieldset-wrapper{margin-left:5px;padding-left:0}.field-type-commerce-product-reference .fieldset-legend{padding-left:0}.field-widget-inline-entity-form>div>fieldset>legend .fieldset-legend{border-bottom:0;margin-left:0}.field-widget-inline-entity-form .ief-form{background:transparent}.field-widget-inline-entity-form .ief-form .fieldset-wrapper{margin-top:0}.field-type-commerce-product-reference>div>div.form-wrapper>fieldset>legend .fieldset-legend{border:0}.field-type-commerce-product-reference>div>div.form-wrapper>fieldset>div.fieldset-wrapper{border:1px solid #ccc;padding:5px 15px}.field-type-commerce-product-reference>div>div.form-wrapper>fieldset>div.fieldset-wrapper>fieldset .fieldset-wrapper,.field-type-commerce-product-reference>div>div.form-wrapper>fieldset>div.fieldset-wrapper>fieldset .fieldset-legend{padding-left:0;margin-left:0}.field-type-commerce-product-reference>div>div.form-wrapper>fieldset>div.fieldset-wrapper>fieldset .fieldset-wrapper{margin-top:10px}.field-widget-inline-entity-form fieldset fieldset .fieldset-wrapper .ief-entity-submit,.ief-row-form .ief-entity-submit{background:#2f88cd;background:-moz-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#36a2f6),color-stop(100%,#2f88cd));background:-webkit-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-o-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-ms-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:linear-gradient(to bottom,#36a2f6 0,#2f88cd 100%);border:1px solid #2f88cd;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;-webkit-box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;font:normal 500 16px/16px "Open Sans",Arial,sans-serif;margin-left:1px;margin-top:1px;padding:6px 30px;text-decoration:none;color:#fff}.field-widget-inline-entity-form fieldset fieldset .fieldset-wrapper .ief-entity-submit:focus,.ief-row-form .ief-entity-submit:focus{color:#fff}.field-widget-inline-entity-form fieldset fieldset .fieldset-wrapper .ief-entity-submit:hover,.field-widget-inline-entity-form fieldset fieldset .fieldset-wrapper .ief-entity-submit:focus,.field-widget-inline-entity-form fieldset fieldset .fieldset-wrapper .ief-entity-submit:active,.ief-row-form .ief-entity-submit:hover,.ief-row-form .ief-entity-submit:focus,.ief-row-form .ief-entity-submit:active{background:#359ff2;box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;color:#fff;text-shadow:0 -1px 1px #2f88cd}.field-widget-inline-entity-form fieldset{padding:1.5em 0 0}.field-widget-inline-entity-form>fieldset{padding:2em 0 0}.field-widget-inline-entity-form fieldset .tabledrag-toggle-weight-wrapper{float:right;margin-top:-20px}.field-widget-inline-entity-form fieldset.ief-entity-fieldset,.ief-form-bottom>legend .fieldset-legend{background:transparent;border:0;margin:0}.field-widget-inline-entity-form fieldset.ief-entity-fieldset .fieldset-legend{border-bottom:1px solid #e4e4e4;font-size:16px;font-weight:600;width:98%}.field-widget-inline-entity-form fieldset.ief-entity-fieldset .fieldset-wrapper{background:transparent;border:0;display:inline-block;padding:15px;width:100%}.field-widget-inline-entity-form fieldset.ief-product-image .fieldset-wrapper{padding-top:5px;width:100%}.field-widget-inline-entity-form .tabledrag-changed-warning,.field-widget-inline-entity-form .ief-entity-table{clear:both}.field-widget-inline-entity-form .ief-entity-table,.field-widget-inline-entity-form .ief-entity-table tr td:last-child{background-color:transparent}
.field-widget-inline-entity-form .ief-entity-table,.field-widget-inline-entity-form .ief-entity-table tr.even,.field-widget-inline-entity-form .ief-entity-table tr.odd{background:#f1f1f1;border-bottom:1px solid #bebfb9}.field-widget-inline-entity-form .ief-entity-table tr:hover,tr.even{background:#f1f1f1}.field-widget-inline-entity-form .ief-entity-table .ief-row-entity-form{background:#fff;border:1px solid #ccc;border-width:0 1px 1px}.field-widget-inline-entity-form .ief-entity-table tr.ief-row-entity-form{background:#dff2fb;border:1px solid #afdbe9;-moz-box-shadow:0 0 5px #fff;-webkit-box-shadow:0 0 5px #fff;box-shadow:0 0 5px #fff}.ief-row-entity .ief-entity-operations{position:relative}.ief-row-entity .ief-entity-operations .ajax-progress{left:0;position:absolute;top:100%}.ief-row-form{background:#fff}.ief-row-form>td{padding-top:0}.field-widget-inline-entity-form tr.ief-row-form .ief-form-row{padding-top:30px}.field-widget-inline-entity-form .ief-entity-table tr.ief-row-form:hover{background:#fff}.field-widget-inline-entity-form .ief-entity-operations input.form-submit,.field-widget-inline-entity-form .field-type-image table input.form-submit{background:transparent;border:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;color:#36a2f6;padding:0}.ief-product-attributes .form-wrapper,.ief-product-details .form-wrapper{float:left;margin-right:25px}.field-widget-inline-entity-form .fieldset-legend{left:0;padding:0;font-size:18px;font-weight:600}.field-widget-inline-entity-form .fieldset-wrapper .fieldset-wrapper .fieldset-legend{padding:3px 0}.ief-product-details .fieldset-wrapper{width:33%}.ief-product-details .form-item label{float:left;margin-right:10px}#module-filter-squeeze .form-item-module-filter-name{clear:none}.rules-elements-table{position:relative}.entity-commerce-order .content-right,.entity-commerce-order .content-left{margin:0 1%}.entity-commerce-order .field-name-commerce-line-items th,.entity-commerce-order .content-right .field-label,.entity-commerce-order .content-right .commerce-backoffice-order-status-label{background:#e1e1e1;border:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;clear:both;color:#000;font-size:15px;font-weight:normal;margin-top:10px;padding:10px 15px}.entity-commerce-order .content-right .commerce-backoffice-order-status-form{display:inline-block;width:100%}.entity-commerce-order .content-right .commerce-backoffice-order-status-label{background:#ffedcb;border:1px solid #ffcb69;-moz-box-shadow:inset 0 0 5px #fff;-webkit-box-shadow:inset 0 0 5px #fff;box-shadow:inset 0 0 5px #fff;margin-top:0}.entity-commerce-order .commerce-backoffice-order-status-form .form-submit,.view-commerce-backoffice-order-messages #commerce-backoffice-message-form input.form-submit{background:#2f88cd;background:-moz-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#36a2f6),color-stop(100%,#2f88cd));background:-webkit-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-o-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-ms-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:linear-gradient(to bottom,#36a2f6 0,#2f88cd 100%);border:1px solid #2f88cd;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;-webkit-box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;font:normal 500 16px/16px "Open Sans",Arial,sans-serif;margin-left:1px;margin-top:1px;padding:6px 30px;text-decoration:none;color:#fff}.entity-commerce-order .commerce-backoffice-order-status-form .form-submit:focus,.view-commerce-backoffice-order-messages #commerce-backoffice-message-form input.form-submit:focus{color:#fff}.entity-commerce-order .commerce-backoffice-order-status-form .form-submit:hover,.entity-commerce-order .commerce-backoffice-order-status-form .form-submit:focus,.entity-commerce-order .commerce-backoffice-order-status-form .form-submit:active,.view-commerce-backoffice-order-messages #commerce-backoffice-message-form input.form-submit:hover,.view-commerce-backoffice-order-messages #commerce-backoffice-message-form input.form-submit:focus,.view-commerce-backoffice-order-messages #commerce-backoffice-message-form input.form-submit:active{background:#359ff2;box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;color:#fff;text-shadow:0 -1px 1px #2f88cd}.field-name-commerce-customer-billing .name-block,.field-name-commerce-customer-shipping .name-block{font-weight:500}.content-left .field-name-commerce-order-total{width:270px !important}.entity-commerce-order .field-name-commerce-order-total{background:transparent}.entity-commerce-order .field-name-commerce-order-total .field-items{background:#dff2fb;border:1px solid #afdbe9;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;margin-bottom:30px;padding:8px 15px}.entity-commerce-order .field-name-commerce-order-total .field-items tr.even,.entity-commerce-order .field-name-commerce-order-total .field-items tr.odd{background:transparent}.entity-commerce-order .field-name-commerce-order-total .field-items td{line-height:1.5em;padding:5px 0}.entity-commerce-order .field-name-commerce-order-total .field-items .component-type-commerce-price-formatted-amount td{border-top:2px solid #afdbe9;font-weight:700}.entity-commerce-order .field-name-commerce-order-total .component-total{min-width:85px}.field-name-commerce-order-total .field-label{font-weight:300}.field-name-commerce-order-total .field-items{font-weight:500}.entity-commerce-order table,.entity-commerce-order tr,tr td:last-child{border:0}#panes tr td:last-child{border-right:1px solid #bebfb9}#blocks tr td:last-child{border-right:1px solid #bebfb9}.content-right>div.field{border:0}.view-commerce-backoffice-order-messages h2{border-bottom:10px solid #d8d8d8;font-weight:500;padding-bottom:10px}.view-commerce-backoffice-order-messages th{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/th-border.gif) repeat-x 0 bottom;border:1px solid #d8d8d8;border-width:0 0 1px 0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;color:#000;font-weight:500;margin-bottom:2px}.view-commerce-backoffice-order-messages tbody{padding-top:2px}.view-commerce-backoffice-order-messages .views-row-first{border-top:1px solid #d8d8d8}.view-commerce-backoffice-order-messages tr.odd,.view-commerce-backoffice-order-messages tr.even{background:transparent;border:1px solid #d8d8d8;border-width:0 0 1px 0}.view-commerce-backoffice-order-messages .commerce_order_state,.view-commerce-backoffice-order-messages .commerce_order_admin_comment,.view-commerce-backoffice-order-messages .commerce_order_payment_entered{border:1px solid #d8d8d8;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;padding:2px 10px}
.view-commerce-backoffice-order-messages .form-type-textarea .resizable-textarea{margin:0 2px 30px 0}.view-commerce-backoffice-order-messages .form-type-textarea .filter-wrapper{border:1px solid #eee;padding:0 15px 10px}.commerce-backoffice-view tr.views-row-active{background:#dff2fb !important;border:1px solid #afdbe9}.commerce-backoffice-view tr.views-row-active td{background:transparent}.view-commerce-backoffice-order-messages{margin-bottom:20px}.view-commerce-backoffice-order-messages>.view-footer{padding-top:20px}.view-commerce-backoffice-order-messages form>div>fieldset>legend{height:30px}.view-commerce-backoffice-order-messages form>div>fieldset>legend .fieldset-legend{margin:0 0 10px 0;border:0}tr.megarow>td{background:#fff}div.views-megarow-content{background:transparent}.commerce-backoffice-view div.views-megarow-content .megarow-header{background-image:url(https://palmettolasik.com/sites/all/themes/shiny/images/mega-arrow.png)}.view-commerce-backoffice-comments .vbo-views-form{padding-top:45px}html.js .view-filters fieldset.collapsible,html.js .vbo-views-form fieldset,html.js .vbo-views-form .fieldset-wrapper{background:transparent;border:0;height:auto;margin:0;outline:0;padding:0}html.js .view-filters fieldset.collapsible .fieldset-wrapper,html.js .vbo-views-form fieldset .fieldset-wrapper{margin-bottom:30px;padding-top:30px}html.js .view-filters fieldset.collapsible .fieldset-legend,html.js .vbo-views-form fieldset .fieldset-legend{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/filter.png) no-repeat 0 0;color:#36a2f6;margin-top:0;padding-left:30px;text-transform:uppercase}html.js .view-filters fieldset.collapsible .fieldset-legend a,html.js .vbo-views-form fieldset .fieldset-legend a{color:#36a2f6}html.js .view-filters fieldset.collapsible .fieldset-legend{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/filter.png) no-repeat 0 0}html.js .vbo-views-form fieldset .fieldset-legend{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/bulk-update.png) no-repeat 0 0}html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend{background:transparent;padding-left:0;text-transform:none}#rules-ui-edit-element fieldset .fieldset-wrapper{border:1px solid #ccc;-moz-box-shadow:inset 0 0 1px #fff;-webkit-box-shadow:inset 0 0 1px #fff;box-shadow:inset 0 0 1px #fff;outline:0}#rules-ui-edit-element fieldset .fieldset-wrapper .fieldset-wrapper{border:0}.rules-autocomplete-button{top:6px}.rules-elements-table ul.rules-operations a{padding:0 10px}.view-commerce-discount-overview td.views-field-enable-disable *{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}.commerce-discount-form .form-item-label{padding-bottom:10px}.commerce-discount-form .field-name-commerce-discount-date .fieldset-wrapper{background:none;border:0;outline:0;margin-left:0}.commerce-discount-form .field-type-datestamp .fieldset-legend{margin-left:0}.commerce-discount-form .field-name-commerce-discount-date .fieldset-wrapper input{background-position:100px 3px !important;height:25px;width:120px !important}.commerce-discount-form #edit-actions{margin-top:20px}td.views-field-operations-dropbutton{position:relative}td.views-field-operations-dropbutton .ctools-dropbutton-processed{position:absolute;top:18px}.view-commerce-discount-overview .views-table td.views-field-operations-dropbutton .ctools-dropbutton{-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px}.form-item-commerce-discount-type.form-item #edit-commerce-discount-type,.field-name-commerce-discount-offer .form-type-radios>div{background:none}.form-item-commerce-discount-type.form-item #edit-commerce-discount-type .form-item input,.field-name-commerce-discount-offer .form-type-radios>div .form-item input{display:inline}.form-item-commerce-discount-type.form-item #edit-commerce-discount-type .form-item.selected label,.form-item-commerce-discount-type.form-item #edit-commerce-discount-type .form-item label,.field-name-commerce-discount-offer .form-type-radios>div .form-item.selected label,.field-name-commerce-discount-offer .form-type-radios>div .form-item label{background:none;color:inherit}.field-name-commerce-discount-date .fieldset-wrapper .container-inline-date .date-padding>.form-item:first-child input.form-text{background:url(https://palmettolasik.com/sites/all/themes/shiny/images/calendar.png) left top no-repeat}.form-item-enabled #edit-enabled .form-item label{margin:0 !important}.form-item-enabled #edit-enabled .form-item label:hover{cursor:pointer}.form-item-enabled #edit-enabled .form-item label[for="edit-enabled-1"]{color:#6d6d6d}.commerce-discount-form .form-item-label label,.commerce-discount-form .form-item-commerce-discount-type label,.commerce-discount-form .form-item-commerce-discount-fields-commerce-discount-offer-und-form-type label{font-weight:700}.commerce-discount-form .form-item-commerce-discount-type label{border-bottom:1px solid #ccc}.commerce-discount-form .form-item-commerce-discount-type .form-radios label{border:0}.commerce-discount-form .form-item-commerce-discount-type .form-radios label,.commerce-discount-form .form-item-commerce-discount-type .form-item label,.commerce-discount-form .field-name-commerce-discount-offer .form-item-commerce-discount-fields-commerce-discount-offer-und-form-type .form-radios label,.commerce-discount-form .field-name-commerce-discount-offer .form-item-commerce-discount-fields-commerce-discount-offer-und-form-type .form-item label{font-size:15px;font-weight:500}.field-name-commerce-discount-offer .fieldset-wrapper,#commerce-discount-fields-wrapper .field-name-commerce-discount-offer .fieldset-wrapper .field-name-commerce-fixed-amount .form-type-text-field,#commerce-discount-fields-wrapper .form-wrapper div.form-type-textfield,#commerce-discount-fields-wrapper .field-name-commerce-discount-offer .fieldset-wrapper .field-name-commerce-fixed-amount .form-type-text-field,.commerce-discount-form .form-wrapper div.form-type-textfield{background:transparent;border:0;outline:0}
#commerce-discount-fields-wrapper .form-item-commerce-discount-fields-commerce-discount-offer-und-form-type{margin-bottom:9px}#commerce-discount-fields-wrapper .start-date-wrapper label,#commerce-discount-fields-wrapper .end-date-wrapper label{box-sizing:-moz-box;margin-top:9px}.field-name-commerce-discount-offer .form-wrapper{padding-top:5px}.field-name-commerce-discount-max-uses{min-height:51px}#commerce-backoffice-message-form textarea{clear:left}#ui-datepicker-div{background:#fff;border:1px solid #ccc}.ui-datepicker .ui-datepicker-title select{border:1px solid #ccc}.field-type-commerce-line-item-reference .add-line-item .form-submit{margin-top:11px}.field-name-commerce-discounts input.field-add-more-submit{margin-top:20px}.view-commerce-payment-order #commerce-payment-order-transaction-add-form .add-payment input.form-submit{margin-top:9px}.view-commerce-discount-overview .views-reset-button input.form-submit{margin-top:23px}#-commerce-kickstart-help-store .search .form-item{width:85%}#-commerce-kickstart-help-store a.search-submit{margin-top:0}html.js #-commerce-kickstart-help-store fieldset.collapsible{min-height:55px}.views-exposed-form .views-exposed-widgets{margin-bottom:.5em;width:auto}.views-exposed-form .views-exposed-widget .form-submit{margin-top:0}#views-exposed-form-commerce-discount-overview-default .views-exposed-form .views-reset-button input.form-submit{margin-top:0}.views-exposed-form label{font-weight:500}.views-exposed-form .views-widget-filter-combine .views-widget{max-width:250px}.views-exposed-form #edit-date-filter-wrapper{width:650px}.commerce-backoffice-view .views-exposed-form #edit-date-filter-wrapper .views-widget{max-width:650px}.commerce-backoffice-view .views-exposed-form .date-padding{max-width:235px}.views-exposed-form .form-item input{border:1px solid #c8c8c8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;max-width:100%;outline:0;padding:4px 5px}html.js .views-exposed-form .form-item input.form-autocomplete{background-position:100% 6px}html.js .views-exposed-form .form-item input.throbbing{background-position:100% -14px}.commerce-backoffice-view .views-exposed-form .date-padding .form-item{margin-top:0}.views-exposed-form label,.views-exposed-form #edit-date-filter-min-wrapper,.views-exposed-form #edit-date-filter-max-wrapper{font-weight:500 !important;padding-top:1px}.views-exposed-form .views-widget-filter-combine input{line-height:normal;padding:3px 20px 3px 5px}.vbo-views-form #edit-select .fieldset-wrapper{padding:3px 0 0 16px;width:auto}.vbo-views-form #edit-select .fieldset-wrapper input.form-submit{float:left;margin-top:10px;padding:6px 20px}.commerce-backoffice-view .vbo-views-form select{height:auto;margin:2px 0 2px 0}.vbo-select-all-markup .vbo-fieldset-select-all{text-align:left;width:auto}.vbo-select-all-markup .vbo-fieldset-select-all input.form-checkbox{opacity:1}.vbo-select-all-markup label:before{display:none !important}@-moz-document url-prefix(){form table #edit-select .fieldset-wrapper input.form-submit{padding:1px 20px}form table input.form-checkbox,form table input.form-radio{opacity:1;height:auto;width:auto}.vbo-views-form #edit-select .fieldset-wrapper input.form-submit{padding:2px 20px}.vbo-select-all-markup input.form-checkbox{opacity:1;height:auto;width:auto}.vbo-select-all-markup input.form-checkbox+label:before,.vbo-select-all-markup input.form-radio+label:before{display:none}td.views-field-operations-dropbutton{display:block}}}@media screen and (-webkit-min-device-pixel-ratio:0){form table input.form-checkbox,form table input.form-radio{-webkit-appearance:none;appearance:none;border:0;opacity:1;height:20px;width:20px;background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/toggles.png) no-repeat 0 0}form table input.form-checkbox:checked{background-position:0 -20px}form table input.form-radio{background-position:0 -40px}form table input.form-radio:checked{background-position:0 -60px}.vbo-views-form #edit-select .fieldset-wrapper{padding:3px 0 0 20px}.vbo-select-all-markup .vbo-fieldset-select-all input.form-checkbox{opacity:1;-webkit-appearance:none;-moz-appearance:none;height:20px;width:20px;background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/toggles.png) no-repeat 0 0}.vbo-select-all-markup .vbo-fieldset-select-all input.form-checkbox:checked{background-position:0 -20px}}@media screen{noindex:-o-prefocus input.form-checkbox,noindex:-o-prefocus input.form-radio,form table input.form-checkbox,form table input.form-radio{opacity:1}.vbo-views-form .form-item-operation{float:left;margin-top:9px;padding:2px 10px 0 30px}.vbo-views-form .form-item-operation #edit-operation{margin-top:0}.vbo-views-form .form-item-operation .chzn-container{left:30px}.commerce-backoffice-view .vbo-views-form #edit-select{background-position:21px 15px;padding:0}.commerce-backoffice-view .views-exposed-form .date-padding .form-item input,.commerce-backoffice-view .views-exposed-form .views-widget-filter-combine input{padding:4px 20px 4px 5px}html.js .vbo-views-form #edit-select fieldset .fieldset-wrapper{padding:3px 0 0 10px;margin-bottom:0}.ctools-button-processed ul{margin:0}.ctools-button-processed input.form-submit:hover{background-image:none;color:#0074bd;text-shadow:none}.ctools-button-processed input.form-submit:active{background:none;border:medium none;color:#0074bd;text-shadow:none}.ctools-button-processed{background-image:-moz-linear-gradient(-90deg,white 0,#efeded 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(1,#efefef));background-image:-webkit-linear-gradient(-90deg,white 0,#efeded 100%);background-image:linear-gradient(-90deg,#fff 0,#efeded 100%);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #c8c8c8;-moz-box-shadow:inset 0 0 1px #fff;-webkit-box-shadow:inset 0 0 1px #fff;box-shadow:inset 0 0 1px #fff;font-size:14px;line-height:1em;text-transform:capitalize}.ctools-button-processed:hover{background-image:-moz-linear-gradient(-90deg,white 0,#efeded 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(1,#efefef));background-image:-webkit-linear-gradient(-90deg,white 0,#efeded 100%);background-image:linear-gradient(-90deg,#fff 0,#efeded 100%)}
.ctools-dropbutton-processed.open:hover{background-image:-moz-linear-gradient(-90deg,white 0,#efeded 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,white),color-stop(1,#efefef));background-image:-webkit-linear-gradient(-90deg,white 0,#efeded 100%);background-image:linear-gradient(-90deg,#fff 0,#efeded 100%)}.ctools-dropbutton-processed.open{-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.25);-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.25);box-shadow:1px 1px 2px rgba(0,0,0,0.25)}.ctools-button li a,.views-ui-display-tab-actions .ctools-button-processed input{border:0}.ctools-dropbutton-processed .ctools-content{border-right:1px solid #fff}.ctools-dropbutton-processed .ctools-link{border-left:1px solid #eaeaea;width:27px}.ctools-dropbutton-processed{padding-right:27px}.ctools-twisty{right:10px}.ctools-toggle{margin-top:.6667em}.ctools-toggle.ctools-toggle-collapsed{margin-top:.5em}.ctools-dropbutton-processed .ctools-link,.ctools-dropbutton-processed .ctools-content{border:0}.views-field-operations-dropbutton .quick-edit{padding:0}.ctools-dropbutton-processed a{color:#424242}.vbo-views-form #edit-actions{padding:0;background:transparent}.chzn-container-multi .chzn-choices,.chzn-container-single .chzn-single{color:#737373;padding-right:26px}.chzn-container-single .chzn-single{overflow:visible}.chzn-container-multi .chzn-choices .search-field .default{height:24px}.chzn-container-single .chzn-single,.chzn-container-single .chzn-drop,.chzn-container-multi .chzn-choices,.chzn-container-multi .chzn-drop{background:#fff;border:1px solid #c8c8c8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.chzn-container-multi .chzn-choices{background:white url(https://palmettolasik.com/sites/all/themes/shiny/images/drop-filter.png) no-repeat right center}.chzn-container-single .chzn-single,.commerce-backoffice-view .chzn-container-single .chzn-single{height:28px}.chzn-container-single .select:focus{box-shadow:0}.chzn-container-single .chzn-single-with-drop{border-radius:3px 3px 0 0}.chzn-container-single .chzn-drop,.chzn-container-multi .chzn-drop{border-radius:0 0 3px 3px}.chzn-container-single .chzn-single div{width:28px}.chzn-container-multi .chzn-choices li{float:left}.chzn-container-single .chzn-single div b,.commerce-backoffice-view .chzn-container-single .chzn-single div b{background:white url(https://palmettolasik.com/sites/all/themes/shiny/images/drop-filter.png) no-repeat right center}.chzn-container-single .chzn-single-with-drop div b,.commerce-backoffice-view .chzn-container-single .chzn-single-with-drop div b .chzn-container-active .chzn-choices{background:white url(https://palmettolasik.com/sites/all/themes/shiny/images/drop-filter-up.png) no-repeat right center}.chzn-container-single .chzn-single span{color:#999;margin-right:0;-webkit-font-smoothing:subpixel-antialiased}.views-widget-filter-status .chzn-search,.commerce-backoffice-view .vbo-views-form .fieldset-wrapper .chzn-drop .chzn-search{display:none}.commerce-backoffice-view .vbo-views-form #edit-select select{height:auto}.vbo-views-form .fieldset-wrapper .chzn-drop{top:-1px !important}#edit-combine-wrapper input.form-text{font-family:"Open Sans",Arial,sans-serif}#foo:checked::before,.vertical-tabs-pane .fieldset-wrapper>div.form-type-checkbox:first-child{padding-top:0}#commerce-kickstart-inline-help-button #edit-commerce-kickstart-inline-help-button{margin-top:10px;margin-bottom:-50px}}*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}body{font:normal 500 .923em/1.5em "Open Sans",Arial,sans-serif}a{color:#36a2f6}body.in-maintenance{background:#256ba7 url(https://palmettolasik.com/sites/all/themes/shiny/images/installation-bg.png) repeat 0 0}body.in-maintenance .body-wrapper{background:#256ba7;background:-moz-linear-gradient(top,#569ad4 0,#256ba7 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#569ad4),color-stop(100%,#256ba7));background:-webkit-linear-gradient(top,#569ad4 0,#256ba7 100%);background:-o-linear-gradient(top,#569ad4 0,#256ba7 100%);background:-ms-linear-gradient(top,#569ad4 0,#256ba7 100%);background:linear-gradient(to bottom,#569ad4 0,#256ba7 100%)}
body.in-maintenance .body-wrapper .page-outer{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/installation-bg.png) repeat 0 0;padding:40px 0}body.in-maintenance #branding{-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;box-shadow:none;background:#f4f4f4;border:1px solid #edebeb;margin:0;padding:30px 40px;width:960px}body.in-maintenance #branding h1.page-title{color:#747474;float:right;font-size:32px;font-weight:100;line-height:1em;padding:10px 0;width:550px}body.in-maintenance #page{-moz-box-shadow:0 5px 5px rgba(0,0,0,0.28);-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.28);box-shadow:0 5px 5px rgba(0,0,0,0.28);-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background:transparent;background:#fff;padding:0;width:960px;overflow:hidden}body.in-maintenance .page-wrapper{padding:40px;width:960px}body.in-maintenance .logo-wrapper{float:left}body.in-maintenance #logo{margin:0;max-width:100%}body.in-maintenance #sidebar-first{width:270px}body.in-maintenance fieldset .fieldset-wrapper,body.in-maintenance fieldset.collapsible{border:1px solid #ccc;padding:15px}body.in-maintenance ol.task-list{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/wizard-bg.png) repeat-y 0 0}body.installing-demo-store ol.task-list,body.importing-content ol.task-list,body.installing-additional-functionality ol.task-list{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/wizard-bg2.png) repeat-y 0 0}body.in-maintenance ol.task-list li{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/tasks-inactive.png) no-repeat 5px 4px;color:#9a9a9a;font:normal 400 16px/18px "Open Sans",Arial,sans-serif;height:30px;padding:6px 0 0 40px;margin:0 0 22px 0}body.in-maintenance ol.task-list li.active{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/tasks-active.png) no-repeat 5px 4px;color:#2e87cd}body.in-maintenance ol.task-list li.done{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/tasks-complete.png) no-repeat 5px 4px;color:#75cd27}body.in-maintenance .form-item-install-demo-store .form-radios{float:left}body.in-maintenance .form-item-install-demo-store .description{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/small-pointer.png) no-repeat 0 3px;margin-left:80px;padding:3px 5px 5px 23px}body.in-maintenance div.form-type-password{width:500px}body.in-maintenance .password-strength{width:15em}body.in-maintenance .form-item-extras label[for=edit-extras]{clear:both}h1,h2,h3,h4,h5,h6,ul.admin-list li a,div.breadcrumb,fieldset .fieldset-legend{font-family:"Open Sans",Arial,sans-serif}fieldset.form-wrapper{margin-bottom:2em}fieldset.collapsed{padding:25px 15px}fieldset .fieldset-legend{font-size:16px;font-weight:600}fieldset.collapsible .fieldset-legend a{color:#000}fieldset.collapsible .fieldset-wrapper{background:transparent;border:0;padding:25px 15px 0}body.in-maintenance fieldset .fieldset-legend{border-bottom:0;color:#000;font-size:28px;font-weight:400;margin-left:0}.form-item label{font-weight:700}.form-item div.description,fieldset p{font-size:13px;font-weight:100}input.form-autocomplete,input.form-text,input.form-file{border:1px solid #e0e0e0;font:normal 500 1em/1em "Open Sans",Arial,sans-serif;margin:1px;max-width:100%;padding:5px}textarea.form-textarea{border:1px solid #e0e0e0;font-size:1em;padding:5px 10px}.resizable-textarea textarea.form-textarea{border-bottom:0}.node-form .field-name-body .resizable-textarea textarea.form-textarea{height:250px}.text-format-wrapper fieldset,.text-format-wrapper fieldset .fieldset-wrapper{background:transparent;border:0}.text-format-wrapper fieldset .fieldset-wrapper .form-item{clear:left}.node-form .field-name-body .resizable-textarea textarea.form-textarea{height:280px}input.form-autocomplete:focus,input.form-text:focus,input.form-file:focus,textarea.form-textarea:focus{background-color:#fff;color:#000}#edit-actions{background:transparent;padding:30px 0 0 0}#edit-actions input.form-submit{margin-bottom:0}#edit-actions #edit-delete{color:#ab5757;float:right;margin:0;background:transparent;border:0;-moz-box-shadow:0 0 0 transparent;-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent}#edit-actions #edit-delete:hover{text-decoration:underline}.node-form #edit-actions,#commerce-product-ui-product-form #edit-actions{background:#f8f8f8;padding:15px}.form-type-checkbox,.form-type-radio{position:relative}input.form-checkbox+label,input.form-radio+label{font-weight:500;padding-left:20px;cursor:pointer}#foo:checked::before,input.form-checkbox,input.form-radio{opacity:0;width:20px;height:20px}#foo:checked,input.form-checkbox+label::before,input.form-radio+label::before{content:"";cursor:pointer;position:absolute;top:2px;left:0;height:20px;width:20px;background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/toggles.png) no-repeat 0 0}#foo:checked,.form-disabled input.form-checkbox+label::before{opacity:.4}#foo:checked,body.in-maintenance input.form-radio+label::before{top:4px}input.form-radio+label::before{background-position:0 -40px}#foo:checked,input.form-checkbox:checked+label::before{background-position:0 -20px}input.form-radio:checked+label::before{background-position:0 -60px}select.form-select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff;border:1px solid #ccc;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;color:#333;cursor:pointer;display:inline-block;font-size:1em;max-width:100%;padding:3px;width:auto}select.form-select:focus{color:#000}@media screen and (-webkit-min-device-pixel-ratio:0){select.form-select{padding:5px 35px 5px 5px;background:white url(https://palmettolasik.com/sites/all/themes/shiny/images/drop-filter.png) no-repeat right center}}.exposed-filters .form-item label{float:none}#edit-operation{margin-top:6px}body.in-maintenance fieldset.form-wrapper{border:0;max-width:530px;padding-top:3em}body.in-maintenance select.form-select{width:500px}.form-required,.form-type-managed-file strong{color:#ff7e00;font-weight:500}body.in-maintenance .form-submit:hover{background:#79d428 url(https://palmettolasik.com/sites/all/themes/shiny/images/button-over.png) repeat-x 0 0}body.in-maintenance #install-settings-form fieldset .fieldset-legend{font-size:16px}body.in-maintenance #install-settings-form fieldset .fieldset-wrapper{padding-top:25px}#edit-account-commerce-kickstart-name,#edit-account-commerce-kickstart-password{font-weight:700}#edit-account-commerce-kickstart-name label,#edit-account-commerce-kickstart-password label{color:#333;float:left;margin-right:8px;font-weight:500}
#edit-account-commerce-kickstart-name,#edit-account-commerce-kickstart-password{color:black;font-weight:bold}a.tabledrag-handle .handle{height:25px;width:25px}#overlay-container .overlay-modal-background{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/overlay.png) repeat 0 0 !important}#overlay-close-wrapper{right:17px;top:15px}#overlay-close-wrapper #overlay-close{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/close.png) no-repeat left top;right:0}#overlay-close-wrapper #overlay-close:hover{background-position:left bottom}#overlay-titlebar,#branding,.views-ui-dialog .views-override{background:#dedede;background:-moz-linear-gradient(top,#f0f0f0 0,#dedede 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f0f0f0),color-stop(100%,#dedede));background:-webkit-linear-gradient(top,#f0f0f0 0,#dedede 100%);background:-o-linear-gradient(top,#f0f0f0 0,#dedede 100%);background:-ms-linear-gradient(top,#f0f0f0 0,#dedede 100%);background:linear-gradient(to bottom,#f0f0f0 0,#dedede 100%);box-shadow:inset 0 -2px 3px #ccc}.views-ui-dialog #views-ajax-title{background:#f0f0f0}#overlay-titlebar{-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}#overlay-titlebar .add-or-remove-shortcuts{padding-top:31px}h1#overlay-title{color:#000;font:normal 500 24px/24px "Open Sans",Arial,sans-serif;padding-top:25px}#overlay-titlebar,#overlay-content{max-width:100%;white-space:normal}#overlay #overlay-content{background:#fff;padding:8px;margin-bottom:200px}#overlay #overlay-content #branding,#overlay #overlay-content #page{background:transparent;box-shadow:none;max-width:100%;width:auto}#overlay-tabs-wrapper{height:34px;float:right}#overlay-tabs,#branding ul.tabs{margin:0;padding:3px 0 0;position:relative;right:0}#overlay-tabs li,#branding ul.tabs li{margin:0;padding:0}#overlay-tabs li a,#overlay-tabs li a:active,#overlay-tabs li a:visited,#overlay-tabs li a:hover,#branding ul.tabs li a{background:#b6b6b6;background:-moz-linear-gradient(top,#c8c8c8 0,#b6b6b6 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#c8c8c8),color-stop(100%,#b6b6b6));background:-webkit-linear-gradient(top,#c8c8c8 0,#b6b6b6 100%);background:-o-linear-gradient(top,#c8c8c8 0,#b6b6b6 100%);background:-ms-linear-gradient(top,#c8c8c8 0,#b6b6b6 100%);background:linear-gradient(to bottom,#c8c8c8 0,#b6b6b6 100%);-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;box-shadow:inset 0 -2px 3px #b5b5b5;float:left;font-size:15px;font-weight:400 !important;line-height:30px;margin:0 5px 1px 0;text-transform:none}#overlay-tabs li a:hover,#branding ul.tabs li a:hover{background:#666;background:-moz-linear-gradient(top,#999 0,#666 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#999),color-stop(100%,#666));background:-webkit-linear-gradient(top,#999 0,#666 100%);background:-o-linear-gradient(top,#999 0,#666 100%);background:-ms-linear-gradient(top,#999 0,#666 100%);background:linear-gradient(to bottom,#999 0,#666 100%);box-shadow:inset 0 -2px 3px #666}#overlay-tabs li.active a,#overlay-tabs li.active a.active,#overlay-tabs li.active a:active,#overlay-tabs li.active a:visited,#branding ul.tabs li.active a{background:#fff;box-shadow:none;color:#000;margin:0 5px 0 0}#overlay-tabs li:last-child a,#overlay-tabs li.active:last-child a{margin:0}.overlay ul.secondary{margin-top:0;padding-top:10px}.overlay ul.secondary li{margin:0;padding:0 0 0 10px}#overlay #overlay-content #branding{padding:0 20px}#overlay #overlay-content #page{padding:0 20px 30px}#overlay-titlebar .add-or-remove-shortcuts{padding-bottom:.9em}.footer-messages{border-top:1px solid #efefef;clear:both;font:normal 13px/13px "Open Sans",Arial,sans-serif;margin:0 40px}body.in-maintenance .footer-messages{border:0;margin:0 auto;width:960px}#overlay #overlay-content .footer-messages{border-top:0;color:#fff;margin:0;position:absolute;top:100%;width:100%}#credit{float:right;padding:20px 0 40px}
#powered{padding-top:20px}body.in-maintenance #credit{color:#fff;margin:0 auto;width:960px}#credit .message{clear:right;float:right;margin-bottom:20px;width:180px}#credit .logo a{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/logo-cg2.png) no-repeat 0 0;clear:right;float:right;height:0;overflow:hidden;padding:50px 0 0;width:180px}body.in-maintenance #credit .logo a{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/logo-cg3.png) no-repeat 0 0}#overlay #overlay-content #credit .logo a{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/logo-cg.png) no-repeat 0 0}#block-system-main{position:relative}.breadcrumb{clear:left;color:#666;float:left;font-size:12px;padding-bottom:10px;width:auto}.breadcrumb a,.breadcrumb span{display:inline-block;margin:0 5px 0 0}.breadcrumb a{color:#666}.breadcrumb a:hover{color:#36a2f6;text-decoration:underline}.breadcrumb span{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/breadcrumb.png) no-repeat 0 0;height:10px;margin-top:6px;width:10px}#commerce-kickstart-inline-help{position:relative}#edit-commerce-kickstart-inline-help-button{padding:5px 15px}#commerce-kickstart-inline-help #edit-commerce-kickstart-inline-help-close-button{padding:5px 15px;position:absolute;right:0;top:10px}#commerce-kickstart-inline-help .advanced-help-topic{background:#fef2c4;border:1px solid #efb120;-moz-box-shadow:inset 0 0 10px #fff;-webkit-box-shadow:inset 0 0 10px #fff;box-shadow:inset 0 0 10px #fff;margin-bottom:30px;padding:15px}.page-admin-getting-started .advanced-help-topic{background:transparent;border:0;padding:0}.page-admin-getting-started .advanced-help-topic a{color:#36a2f6}.page-admin-help-getting-started #commerce-kickstart-help{font-size:28px;font-weight:400;width:100%}.page-admin-help-getting-started #commerce-kickstart-help-button{position:absolute;right:30px;top:-55px}.help-section h3,.help-section h3 a{font-size:16px;font-weight:400}#block-commerce-kickstart-help-commerce-kickstart-ressources,#block-commerce-kickstart-help-commerce-kickstart-community{background:#fefefe;border:1px solid #efb120;-moz-border-radius:15px 15px 15px 15px;-webkit-border-radius:15px 15px 15px 15px;border-radius:15px 15px 15px 15px;margin:0;min-height:250px;padding:10px 30px;width:48.27586%}.block-commerce-kickstart-help h2{color:#acacac;font:normal 600 26px/26px "Open Sans",Arial,sans-serif}input.form-submit,a.button{background:#e0e0e0;background:-moz-linear-gradient(top,#fefefe 0,#e0e0e0 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fefefe),color-stop(100%,#e0e0e0));background:-webkit-linear-gradient(top,#fefefe 0,#e0e0e0 100%);background:-o-linear-gradient(top,#fefefe 0,#e0e0e0 100%);background:-ms-linear-gradient(top,#fefefe 0,#e0e0e0 100%);background:linear-gradient(to bottom,#fefefe 0,#e0e0e0 100%);border:1px solid #ccc;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0 1px 2px #ccc,inset 0 1px 1px white;-webkit-box-shadow:0 1px 2px #ccc,inset 0 1px 1px white;box-shadow:0 1px 2px #ccc,inset 0 1px 1px white;font:normal 500 16px/16px "Open Sans",Arial,sans-serif;margin-left:1px;margin-top:1px;padding:6px 30px;text-decoration:none}input.form-submit:focus,a.button:focus{color:#fff}input.form-submit:hover,input.form-submit:focus,input.form-submit:active,a.button:hover,a.button:focus,a.button:active{background:#eee;color:#5a5a5a;text-shadow:0 -1px 1px white}a.button{display:inline-block}@-moz-document url-prefix(){input.form-submit{padding-top:0;padding-bottom:0}}input.form-submit:hover,a.button:hover{background-position:0 bottom;-moz-box-shadow:0 1px 2px #ccc,inset 0 -1px 1px white;-webkit-box-shadow:0 1px 2px #ccc,inset 0 -1px 1px white;box-shadow:0 1px 2px #ccc,inset 0 -1px 1px white}.form-managed-file input.form-file{margin-right:20px}input:focus::-webkit-input-placeholder{color:transparent}a.button:hover{background-position:0 bottom;-moz-box-shadow:0 1px 2px #ccc,inset 0 -1px 2px white;-webkit-box-shadow:0 1px 2px #ccc,inset 0 -1px 2px white;box-shadow:0 1px 2px #ccc,inset 0 -1px 2px white}#overlay-container .overlay-modal-background{background:#ccc}.overlay-modal-background{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/overlay.png) repeat !important}ul.action-links{padding:0}ul.action-links li{padding:6px 0}
.form-actions #edit-submit,.form-actions #edit-save,ul.action-links li,html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend a,.field-widget-inline-entity-form .container-inline input.form-submit,input.ief-entity-submit{background:#2f88cd;background:-moz-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#36a2f6),color-stop(100%,#2f88cd));background:-webkit-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-o-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:-ms-linear-gradient(top,#36a2f6 0,#2f88cd 100%);background:linear-gradient(to bottom,#36a2f6 0,#2f88cd 100%);border:1px solid #2f88cd;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;-webkit-box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;font:normal 500 16px/16px "Open Sans",Arial,sans-serif;margin-left:1px;margin-top:1px;padding:6px 30px;text-decoration:none;color:#fff}.form-actions #edit-submit:focus,.form-actions #edit-save:focus,ul.action-links li:focus,html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend a:focus,.field-widget-inline-entity-form .container-inline input.form-submit:focus,input.ief-entity-submit:focus{color:#fff}.form-actions #edit-submit:hover,.form-actions #edit-submit:focus,.form-actions #edit-submit:active,.form-actions #edit-save:hover,.form-actions #edit-save:focus,.form-actions #edit-save:active,ul.action-links li:hover,ul.action-links li:focus,ul.action-links li:active,html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend a:hover,html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend a:focus,html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend a:active,.field-widget-inline-entity-form .container-inline input.form-submit:hover,.field-widget-inline-entity-form .container-inline input.form-submit:focus,.field-widget-inline-entity-form .container-inline input.form-submit:active,input.ief-entity-submit:hover,input.ief-entity-submit:focus,input.ief-entity-submit:active{background:#359ff2;box-shadow:0 1px 2px #ccc,inset 0 1px 1px #7bb8ef;color:#fff;text-shadow:0 -1px 1px #2f88cd}@-moz-document url-prefix(){.form-actions #edit-submit,.form-actions #edit-save,ul.action-links li,html.js .view-commerce-backoffice-order-messages .view-footer fieldset.collapsible .fieldset-legend a,.field-widget-inline-entity-form .container-inline input.form-submit,input.ief-entity-submit{padding:2px 30px}}ul.action-links li{float:left;padding:0}ul.action-links li a{background:transparent url(https://palmettolasik.com/sites/all/themes/shiny/images/add2.png) no-repeat 10px 10px;color:#fff;font-weight:500;padding:4px 10px 4px 30px}ul.action-links li a:hover{text-decoration:none}.rules-elements-table ul.rules-operations-add a{line-height:1.25em;float:left}table th{background:#e0e0e0;font-weight:400;font-size:15px;text-transform:none}table th a{color:#000}table th{padding:5px 15px}table th.views-field-operations-dropbutton{width:175px}table td{padding:15px}table.sticky-header{z-index:99}form .field-multiple-table{margin-bottom:10px}form .field-multiple-table th.field-label{padding-left:15px}#views-form-commerce-orders-admin-page table td.views-field-commerce-order-total,#views-form-commerce-orders-admin-page table td.views-field-status{font-weight:500}div.vertical-tabs{margin-bottom:2em}table td.views-field-edit-node a{margin-right:10px}.form-item-changed-command-example .ajax-progress,#commerce-kickstart-inline-help-form-ajax .ajax-progress{float:left;margin-right:10px}#commerce-kickstart-inline-help-form-ajax .ajax-progress{padding-top:10px}#commerce-kickstart-inline-close-help-form-ajax .ajax-progress{position:absolute;right:100px;top:10px}#commerce-kickstart-inline-help-form-ajax #edit-commerce-kickstart-inline-help-button{float:right}.item-list ul.pager li{border-right:1px solid #737373;font-size:14px;font-weight:500;margin:0 5px 0 0;padding:0 5px 0 0;text-transform:capitalize}ul.pager li.pager-next{border-right:0}.item-list ul.pager{text-align:right}ul.pager li a,ul.pager li.pager-current{font-weight:100;line-height:1em}ul.pager li.pager-current{-moz-box-shadow:inset 0 0 1px #fff;-webkit-box-shadow:inset 0 0 1px #fff;box-shadow:inset 0 0 1px #fff;color:#737373}ul.pager li.pager-first,ul.pager li.pager-last{display:none}fieldset.collapsed{padding-left:0}html.js input.form-autocomplete{background-position:100% 7px;padding:3px 5px}html.js input.throbbing{background-position:100% -14px}#system-modules #module-filter-submit #edit-actions{padding:0}#system-modules #module-filter-submit .form-actions #edit-submit{-moz-border-radius:15px 15px 15px 15px;-webkit-border-radius:15px 15px 15px 15px;border-radius:15px 15px 15px 15px;font:normal 16px/21px "Open Sans",Arial,sans-serif;margin:1em 0;padding:4px 10px}#user-filter-form #edit-actions{background:transparent}.views-ui-display-tab-bucket h1,.views-ui-display-tab-bucket h2,.views-ui-display-tab-bucket h3,.views-ui-display-tab-bucket h4,.views-ui-display-tab-bucket h5{margin-bottom:0;margin-top:0}.views-ui-dialog fieldset{padding-top:2.5em}fieldset fieldset{border:medium none}fieldset.fieldset-no-legend{padding-top:0}#views-ui-add-form fieldset fieldset .fieldset-wrapper{padding-left:0;padding-right:0}.views-display-tab fieldset{padding:0 12px}.views-display-tab .fieldset-wrapper{padding:10px 12px 12px}.views-display-tab fieldset.box-padding .fieldset-wrapper{padding:0}.views-display-tab legend+.fieldset-wrapper{padding-top:2.5em}.views-admin .form-item label.option,#views-ui-preview-form .form-item label.option{font-size:1em}#views-ui-preview-form .form-submit{margin-top:3px}.views-admin input.form-submit,.views-ui-dialog input.form-submit,.views-admin a.button,.views-ui-dialog a.button{margin-bottom:0;margin-right:0;margin-top:0}#edit-displays-preview-controls .form-submit{display:inline-block;margin-right:1em}#ctools-export-ui-list-form .form-submit{margin-bottom:0}#ctools-export-ui-list-form .ctools-export-ui-first-row .form-item{margin-right:5px;margin-top:3px}.dependent-options,.dependent-options.form-item,.form-item-options-expose-required,.form-item-options-expose-label{margin-left:1.5em}.views-admin-dependent .form-item .form-item,.views-admin-dependent .form-type-checkboxes,.views-admin-dependent .form-type-radios,.views-admin-dependent .dependent-options,.views-admin-dependent .form-item .form-item,.views-admin-dependent .dependent-options .form-type-select,.views-admin-dependent .dependent-options .form-type-textfield,.form-item-options-expose-required,.form-item-options-expose-label{margin-bottom:6px;margin-top:6px}.views-admin-dependent .form-type-radio,.views-admin-dependent .form-radios .form-item{margin-bottom:2px;margin-top:2px}.views-admin ul.secondary,.views-admin .item-list ul{margin:0;padding:0}.views-admin ul.secondary{clear:none}.views-displays ul.secondary li a,.views-displays ul.secondary li.active a,.views-displays ul.secondary li.active a.active{padding:2px 7px 3px}
.views-displays ul.secondary li.active a,.views-displays ul.secondary li.active a.active{border:1px solid transparent}.views-admin .links li{padding-right:0}.views-admin .button .links li{padding-right:12px}.page-admin-structure-views #content ul.action-links{padding-left:0;padding-right:0}.views-display-top ul.secondary{background-color:transparent;float:left}.views-display-top .secondary .action-list li{float:none;margin:0}table td,table th{vertical-align:top}#edit-display-settings-title{color:#008bcb}.views-displays .secondary{text-align:left}.views-displays .secondary>li:first-child{padding-left:0}.views-admin .icon.add{background-position:center 3px}.views-displays .secondary a{background-color:#f1f1f1;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;color:#008bcb}.views-displays .secondary a:hover>.icon.add{background-position:center -25px}.views-displays .secondary .open>a{-moz-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0}.views-displays .secondary .open>a:hover{background-color:#f1f1f1;color:#008bcb}.views-displays .secondary .action-list li:first-child{-moz-border-radius:0 7px 0 0;-webkit-border-radius:0 7px 0 0;border-radius:0 7px 0 0}.views-displays .secondary .action-list li:last-child{-moz-border-radius:0 0 7px 7px;-webkit-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px}.views-displays .secondary .action-list input.form-submit{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;color:#008bcb}.views-ui-display-tab-bucket h3{font-size:12px;text-transform:uppercase}.views-ui-display-tab-bucket .links{padding:2px 6px 4px}.views-ui-display-tab-bucket .links li+li{margin-left:3px}#views-ui-rearrange-filter-form .action-links{margin:0;padding:0}#views-ui-rearrange-filter-form table{border:medium none}#views-ui-rearrange-filter-form [id^="views-row"]{border:medium none}#views-ui-rearrange-filter-form tr td:last-child{border-right:medium none}#views-ui-rearrange-filter-form .filter-group-operator-row{border-left:1px solid transparent !important;border-right:1px solid transparent !important}#views-ui-rearrange-filter-form tr.drag td{background-color:#fe7 !important}#views-ui-rearrange-filter-form tr.drag-previous td{background-color:#ffb !important}.views-query-info pre{margin-bottom:0;margin-top:0}.views-query-info table{-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;-webkit-border-horizontal-spacing:1px;-webkit-border-vertical-spacing:1px}.views-query-info table tr td:last-child{border-right:0 none}.form-item-page-create,.form-item-block-create{margin-top:13px}.views-ui-dialog #views-ajax-popup{background:#f0f0f0}.views-ui-dialog .ui-dialog-titlebar-close{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border-color:#ccc;right:-27px;top:-1px}.views-ui-dialog .scroll{background:#fff}.views-ui-dialog fieldset.collapsible{padding-top:1.5em}.views-ui-dialog fieldset.collapsed{padding-top:20px}.ui-dialog-content .form-item,.ui-dialog-content .form-item .form-item{clear:both}.filterable-option .form-item.form-type-checkbox{padding-bottom:4px;padding-left:4px;padding-top:4px}.filterable-option .form-item.form-type-checkbox input.form-checkbox+label::before{left:5px;top:8px}.views-ui-dialog .form-buttons{background:#f0f0f0}.views-ui-display-tab-actions .ctools-button-processed li a,.views-ui-display-tab-actions .cctools-button-processed input,.views-display-top .ctools-button-processed li a{padding:5px 20px}.views-ui-display-tab-actions .ctools-button-processed .ctools-twisty,.views-display-top .ctools-button-processed .ctools-twisty{top:13px}.views-display-settings .ctools-toggle{color:#008bcb}.views-display-column>.ctools-toggle{margin-top:14px}.views-display-column>.ctools-toggle.ctools-toggle-collapsed{margin-top:12px}.views-display-column>.ctools-collapsible-handle{color:#008bcb}.views-ui-display-tab-actions .ctools-button-processed input{box-shadow:none;color:#0074bd}.views-exposed-form .views-exposed-widget .form-submit{margin-top:0}